{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-shipping" data-toggle="tooltip" title="{{ button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel}}" data-toggle="tooltip" title="{{ button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title}}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	{% if success %}
    <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if attention %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ attention}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title}}</h3>
      </div>

      <div class="panel-body">

        <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> {{ text_separator_info}}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>

        <form action="{{ action}}" method="post" enctype="multipart/form-data" id="form-shipping" class="form-horizontal">

        	{% if shippingTable %}
        		{% for value in shippingTable %}
        			<div class="form-group">
            			<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="">{{ (value|replace({'_': " "}))|capitalize }}</span></label>
			            <div class="col-sm-10">
				            <select name="{{ value}}" class="form-control">
		                		<option value=""></option>
                        {% for key,field in fields %}
		                			<option value="{{ key}}" {% if field|lower == value|lower %}{{ 'selected' }}{%endif %} >{{ field}}</option>
		                		{% endfor %}
		                   	</select>
            			</div>
            		</div>
        		{% endfor %}
        	{% endif %}

	    </form>
      </div>
    </div>
  </div>
</div>
{{ footer}}
