{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ insert}}" id="insert" data-toggle="tooltip" title="{{ button_insert}}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete}}" class="btn btn-danger" onclick="confirm('{{ text_confirm}}') ? $('#form-product').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title}}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title}}</h3>
      </div>

      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-category">{{ column_category_filter}}</label>
                <input type="text" name="filter_category" value="{{ filter_category}}" placeholder="{{ column_category_filter}}" id="input-category" class="form-control" />
                <input type="hidden" name="filter_category_id" value="{{ filter_category_id}}" />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-attribute">{{ column_name}}</label>
                <input type="text" name="filter_attribute" value="{{ filter_attribute}}" placeholder="{{ column_name}}" id="input-attribute" class="form-control" />
                <input type="hidden" name="filter_attribute_id" value="{{ filter_attribute_id}}" />
              </div>
              <button type="button" onclick="clearfilter();" class="btn btn-danger pull-right"><i class="fa fa-search"></i> {{ button_clear_filter}}</button>
              <button type="button" onclick="filter();" class="btn btn-primary pull-right" style="margin-right: 5%;"><i class="fa fa-search"></i> {{ button_filter}}</button>
            </div>
          </div>
        </div>

        <form action="{{ delete}}" method="post" enctype="multipart/form-data" id="form-product">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
    			        <td class="text-center">{{ column_category}}</td>
                  <td class="text-center">{{ column_name}}</td>
                  <td class="text-center">{{ column_action}}</td>
                </tr>
              </thead>
              <tbody>
                {% if categories %}
                  {% for category in categories %}
                    <tr>
                      <td class="text-center">
                        {% if category['selected'] %}
                        <input type="checkbox" name="selected[]" value="{{ category['category_id']}}" checked="checked" />
                        {% else %}
                        <input type="checkbox" name="selected[]" value="{{ category['category_id']}}" />
                        {% endif %}
                      </td>
                      <td class="text-center">{{ category['name']}}</td>
                      <td class="text-center">{{ category['attribute_name']}}</td>
                      <td class="text-center">
                        <a href="{{ category['action']}}" data-toggle="tooltip" title="{{ button_edit}}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="4">{{ text_no_results}}</td>
                  </tr>
                {% endif %}
              </tbody>
        </table>
        </div>
      </form>

    <div class="row">
      <div class="col-sm-6 text-left">{{ pagination}}</div>
      <div class="col-sm-6 text-right">{{ results}}</div>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
  function filter() {
  	url = 'index.php?route=customerpartner/categorymapping&user_token={{ user_token}}';

    var filter_attribute = $('input[name=\'filter_attribute\']').val();

    if (filter_attribute) {
      url += '&filter_attribute=' + encodeURIComponent(filter_attribute);
    }

    var filter_attribute_id = $('input[name=\'filter_attribute_id\']').val();

  	if (filter_attribute_id) {
  		url += '&filter_attribute_id=' + encodeURIComponent(filter_attribute_id);
  	}

  	var filter_category = $('input[name=\'filter_category\']').val();

  	if (filter_category) {
  		url += '&filter_category=' + encodeURIComponent(filter_category);
  	}

  	var filter_category_id = $('input[name=\'filter_category_id\']').val();

  	if (filter_category_id) {
  		url += '&filter_category_id=' + encodeURIComponent(filter_category_id);
  	}

  	location = url;
  }
  function clearfilter() {
    url = 'index.php?route=customerpartner/categorymapping&user_token={{ user_token}}';
    location = url;
  }
//--></script>
<script type="text/javascript"><!--
$('#form input').keydown(function(e) {
	if (e.keyCode == 13) {
		filter();
	}
});
//--></script>
<script type="text/javascript"><!--

$('input[name=\'filter_attribute\']').autocomplete({
  delay: 0,
  source: function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/attribute/autocomplete&user_token={{ user_token}}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item.name,
            value: item.attribute_id
          }
        }));
      }
    });
  },
  select: function(item) {
    $('input[name=\'filter_attribute\']').val(item.label);
    $('input[name=\'filter_attribute_id\']').val(item.value);
    return false;
  },
  focus: function(item) {
      return false;
  }
});

$('input[name=\'filter_category\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token}}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {

        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['category_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_category\']').val(item['label']);
    $('input[name=\'filter_category_id\']').val(item['value']);
  }
});

//--></script>

{{ footer}}
