{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ insert}}" data-toggle="tooltip" title="{{ button_insert}}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete}}" class="btn btn-danger" onclick="confirm('{{ text_confirm}}') ? $('#form-commission').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title}}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title}}</h3>
      </div>

      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-id">{{ entry_id}}</label>
                <input type="text" name="filter_id" value="{{ filter_id}}" placeholder="{{ entry_id}}" id="input-id" class="form-control" />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_category}}</label>
                <div class='input-group'>
                  <input type="text" name="filter_name" value="{{ filter_name}}" placeholder="{{ entry_category}}" id="input-name" class="form-control" />
                  <span class="input-group-addon"><span class="fa fa-angle-double-down"></span></span>
                </div>
              </div>
              <button type="button" onclick="filter();" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter}}</button>
            </div>
          </div>
        </div>

        <form action="{{ delete}}" method="post" enctype="multipart/form-data" id="form-commission">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>

                  <td class="text-left">
                    {% if sort == 'cc.id' %}
                    <a href="{{ sort_id}}" class="{{ order|lower }}">{{ entry_id}}</a>
                    {% else %}
                    <a href="{{ sort_id}}">{{ entry_id}}</a>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    {% if sort == 'cd.name' %}
                      <a href="{{ sort_name}}" class="{{ order|lower }}">{{ entry_category}}</a>
                    {% else %}
                      <a href="{{ sort_name}}">{{ entry_category}}</a>
                    {% endif %}
                  </td>
                  <td class="text-left">{{ entry_value}}</td>
                  <td class="text-right">{{ entry_action}}</td>
                </tr>
              </thead>

              <tbody>
                {% if commission %}
                {% for result in commission %}
                  <tr>
                    <td style="text-align: center;">
                      {% if result['selected'] %}
                        <input type="checkbox" name="selected[]" value="{{ result['id']}}" checked="checked" />
                      {% else %}
                        <input type="checkbox" name="selected[]" value="{{ result['id']}}" />
                      {% endif %}
                    </td>
                    <td class="text-left" >{{ result['id']}}</td>
                    <td class="text-left">{{  result['name']}}</td>
                    <td class="text-left">{{ result['value']}}</td>
                    <td class="text-right">
                      <a href="{{ result['action']}}" data-toggle="tooltip" title="{{ entry_edit}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="5">{{ "No records founds"}}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination}}</div>
          <div class="col-sm-6 text-right">{{ results}}</div>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--

$('#form input').keydown(function(e) {
  if (e.keyCode == 13) {
    filter();
  }
});

function filter() {
  url = 'index.php?route=customerpartner/commission&user_token={{ user_token}}';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_id = $('input[name=\'filter_id\']').val();

  if (filter_id) {
    url += '&filter_id=' + encodeURIComponent(filter_id);
  }

  location = url;
}

// category
$('input[name=\'filter_name\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token}}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['category_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_name\']').val(item['label']);
  }
});

//--></script>
{{ footer}}
