
		<div class="row">
		  <div class="col-lg-4 col-md-4 col-sm-6">{{ order}}</div>
		  <div class="col-lg-4 col-md-4 col-sm-6">{{ sale}}</div>
		  <div class="col-lg-4 col-md-4 col-sm-6">{{ customer}}</div>
		</div>
		<div class="row">
		  <div class="col-lg-6 col-md-12 col-sx-12 col-sm-12">{{ seller_map}}</div>
		  <div class="col-lg-6 col-md-12 col-sx-12 col-sm-12">{{ chart}}</div>
		</div>
		<div class="row">
		  <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12"> {{ recent}} </div>
		</div>
 