<style>
  .li_padding{
    padding: 4px;
    //font-family: monospace;
  }
  .span_height{
    height: 15px;
    margin: 5px;
  }
</style>
<a class="dropdown-toggle" data-toggle="dropdown"><span class="label label-danger pull-left" style="top:10px;left:18px;position: absolute;">{% if alerts is defined and alerts %}{{ alerts }}{%endif %}</span> <img src="view/image/notify.png" title="Notifications"></a>
  <ul class="dropdown-menu dropdown-menu-right" style="min-width:470px;">
    {% if seller_notifications is defined and seller_notifications %}
      <li class="li_padding">
        <ul style="display:inline-flex;margin-left:-8%;">
          <li class="dropdown-header li_padding" style="font-size:15px;min-width:60px;"><b>{{ text_order}}</b></li>
          <a href="{{ view_all}}" style="margin:5px 0px;"><span class="label label-warning span_height">{{ processing_status_total}}</span>{{ text_processing_status}}</a>
          <a href="{{ view_all}}" style="margin:5px 5px;"><span class="label label-success span_height" style="margin-left:2%;">{{ complete_status_total}}</span>{{ text_complete_status}}</a>
          <a href="{{ view_all}}" style="margin:5px 0px;"><span class="label label-danger span_height" style="margin-left:2%;">{{ return_total}}</span>{{ text_return}}</a>
        </ul>
        {% if seller_notifications is defined and seller_notifications %}
          <ul>
            {% for seller_notification in seller_notifications %}
              <li class="li_padding">{{ seller_notification}}</li>
            {% endfor %}
            <li class="li_padding" style="display: block; overflow: auto;"><a href="{{ view_all}}">{{ text_view_all}}</a></li>
          </ul>
        {% endif %}
      </li>
      {% if (seller_product_reviews is defined and seller_product_reviews) or (seller_reviews is defined and seller_reviews) %}
        <li class="divider li_padding"></li>
      {% endif %}
    {% endif %}
    {% if seller_product_reviews is defined and seller_product_reviews %}
      <li class="li_padding">
        {% if journal_page %}
          <ul style="display:inline-flex">
          {% else %}
          <ul style="display:inline-flex;margin-left:-8%;">
        {% endif %}
          <li class="dropdown-header li_padding" style="font-size:15px;min-width:60px;"><b>{{ text_product}}</b></li>
          <a href="{{ view_all ~ '&tab=product'}}" style="margin:5px 0px;"><span class="label label-warning span_height">{{ product_stock_total}}</span>{{ text_stock}}</a>
          <a href="{{ view_all ~ '&tab=product'}}" style="margin:5px 5px;"><span class="label label-success span_height" style="margin-left:2%;">{{ review_total}}</span>{{ text_entry_review}}</a>
          <a href="{{ view_all ~ '&tab=product'}}" style="margin:5px 0px;"><span class="label label-danger span_height" style="margin-left:2%;">{{ approval_total}}</span>{{ text_approval}}</a>
        </ul>
        {% if seller_product_reviews is defined and seller_product_reviews %}
          <ul>
            {% for seller_product_review in seller_product_reviews %}
              <li class="li_padding">{{ seller_product_review}}</li>
            {% endfor %}
            <li class="li_padding" style="display: block; overflow: auto;"><a href="{{ view_all ~ '&tab=product'}}">{{ text_view_all}}</a></li>
          </ul>
        {% endif %}
      </li>
      {% if seller_reviews is defined and seller_reviews %}
        <li class="divider li_padding"></li>
      {% endif %}
    {% endif %}
    {% if seller_reviews is defined and seller_reviews %}
      <li class="li_padding">
        {% if journal_page %}
          <ul style="display:inline-flex">
          {% else %}
          <ul style="display:inline-flex;margin-left:-8%;">
        {% endif %}
          <li class="dropdown-header li_padding" style="font-size:15px;min-width:60px;"><b>{{ text_entry_seller}}</b></li>
          <a href="{{ view_all ~ '&tab=seller'}}" style="margin:5px 0px;"><span class="label label-success span_height">{{ seller_review_total}}</span>{{ text_entry_review}}</a>
        </ul>
        {% if seller_reviews is defined and seller_reviews %}
          <ul>
            {% for seller_review in seller_reviews %}
              <li class="li_padding">{{ seller_review}}</li>
            {% endfor %}
            <li class="li_padding" style="display: block; overflow: auto;"><a href="{{ view_all ~ '&tab=seller'}}">{{ text_view_all}}</a></li>
          </ul>
        {% endif %}
      </li>
    {% endif %}
    {% if (seller_notifications is not defined and seller_product_reviews is not defined and seller_reviews is not defined) or ( not seller_notifications and not seller_product_reviews and not seller_reviews)  %}
      <center><h4>{{ text_no_notification}}</h4></center>
    {% endif %}
  </ul>
