{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ back}}" data-toggle="tooltip" title="{{ button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title}}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="li_font_family"><a href="{{ breadcrumb['href']}}">{{ breadcrumb['text']}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning}}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title}}</h3>
      </div>

      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="li_font_family" class="active"><a href="#tab-order" id="tab_tab-order" data-toggle="tab">{{ tab_order}}</a></li>
          <li class="li_font_family"><a href="#tab-product" id="tab_tab-product" data-toggle="tab">{{ tab_product}}</a></li>
          <li class="li_font_family"><a href="#tab-seller" id="tab_tab-seller" data-toggle="tab">{{ tab_seller}}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-order">
            {% if all_notifications is defined and all_notifications %}
              <div class="all_notifications_div">
                <div class="notification_filter">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="all" name="selected[]" {% if selected is defined and selected is iterable and 'all' in selected %}checked="checked"{% endif %} />
                    <span class="label label-info pull-right span_margin">{{ all_notifications}}</span>{{ text_all_notification}}
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="return" name="selected[]" {% if selected is defined and selected is iterable and 'return' in selected %}checked="checked"{% endif %}  />
                    <span class="label label-danger pull-right span_margin">{{ return_total}}</span>{{ text_return}}
                  </label>
                </div>

                {% if order_statuses is defined and order_statuses and notification_filter is defined and notification_filter %}
                  {% for key, order_status in order_statuses %}
                    {% if order_status['order_status_id'] in notification_filter %}
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="{{ order_status['order_status_id'] }}" name="selected[]" {% if selected is defined and selected is iterable and order_status['order_status_id'] in selected %}checked="checked"{% endif %} />
                        <span class="label label-success pull-right span_margin">{{ order_status['total'] }}</span>{{ order_status['name'] }}
                      </label>
                    </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>

              <div class="notification_body">
                <div class="table-responsive">
                  <table style="border-left: 1px solid #eee;">
                    <tbody>
                      {% if seller_notifications is defined and seller_notifications %}
                      {% for seller_notification in seller_notifications %}
                        <tr>
                          <td style="padding-left:20px;">
                            <li class="li_font_family" style="margin-left:10px;">{{ seller_notification}}</li>
                            <hr width="700px;">
                          </td>
                        </tr>
                      {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left">{{ pagination}}</div>
                  <div class="col-sm-6 text-right">{{ results}}</div>
                </div>
              </div>
            </div>
            {% else %}
              {{ text_no_notification }}
            {% endif %}
          </div>

          <div class="tab-pane" id="tab-product">
            {% if seller_product_reviews is defined and seller_product_reviews %}
              <div class="table-responsive">
                <table>
                  <tbody>
                    {% for seller_product_review in seller_product_reviews %}
                      <tr>
                        <td style="padding-left:20px;">
                          <li class="li_font_family" style="margin-left:10px;">{{ seller_product_review}}</li>
                          <hr width="700px;">
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-sm-6 text-left">{{ pagination_product}}</div>
                <div class="col-sm-6 text-right">{{ results_product}}</div>
              </div>
              {% else %}
                {{ text_no_notification }}
              {% endif %}
          </div>

          <div class="tab-pane" id="tab-seller">
            {% if seller_reviews is defined and seller_reviews %}
              <div class="table-responsive">
                <table>
                  <tbody>
                    {% for seller_review in seller_reviews %}
                      <tr>
                        <td style="padding-left:20px;">
                          <li class="li_font_family" style="margin-left:10px;">{{ seller_review}}</li>
                          <hr width="700px;">
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-sm-6 text-left">{{ pagination_seller}}</div>
                <div class="col-sm-6 text-right">{{ results_seller}}</div>
              </div>
              {% else %}
                {{ text_no_notification }}
              {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $('.nav-tabs li a').on('click',function(){
    if ($(this).attr('id')) {
      localStorage.setItem("tab-active",$(this).attr('id'))
      localStorage.setItem("tab-pane-active",$(this).attr('id').substring(4))
    }
  });

  $(document).ready(function(){
    var tab_active = localStorage.getItem("tab-active");
    var tab_pane_active = localStorage.getItem("tab-pane-active");

{% if tab is defined and tab %}
  tab_active = 'tab_tab-{{ tab}}';
  tab_pane_active = 'tab-{{ tab}}';
{% endif %}

    if (tab_active && tab_pane_active) {
      $("#"+tab_active).parent().addClass('active');
      $("#"+tab_active).parent().siblings().removeClass('active');
      $("#"+tab_pane_active).addClass('active');
      $("#"+tab_pane_active).siblings().removeClass('active');
    }

  });

</script>

<script type="text/javascript">
  $('input[name*=\'selected\']').on('click',function(){
    var options = '';
    $('input[name*=\'selected\']:checked').each(function(index,item){
        options += ','+$(item).val();
    });

    var url = 'index.php?route=customerpartner/notification&page={{ page}}&user_token={{ user_token}}';

    if (options) {
      url += '&options='+options.substr(1);
    }

    location = url;
  });
</script>
<style>
  .li_font_family{
    //font-family: monospace;
  }

  .span_margin{
    margin-top:4px;
  }

  .all_notifications_div{
    display:inline-flex;
    width: 100%;
  }
  .notification_filter{
    width:20%;
    font-size:15px;
  }

  .notification_body{
    width:80%;
  }
  @media screen and (max-width: 700px) {
    .all_notifications_div{
      display: inline;
    }

    .notification_filter{
      width:100%;
    }

    .notification_body{
      width:100%;
    }
  }
</style>
{{ footer}}
