{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-optmap" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if (error_warning) %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
      </div>

      <div class="panel-body">
        <form action="{{ save }}" method="post" enctype="multipart/form-data" id="form-optmap" class="form-horizontal">
          <div class="form-group  {% if (product_categories is defined and product_categories) %}hide{% endif %}">
            <label class="col-sm-2 control-label">{{ entry_category }}</label>
            <div class="col-sm-10">
              <input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" class="form-control" />
              <div id="product-category" class="well well-sm" style="height: 150px; overflow: auto;">
                {% if (product_categories is defined and product_categories) %}
 {% for product_category in product_categories %}
                    <div id="product-category{{ product_category['category_id'] }}"><i class="fa fa-minus-circle"></i> {{ product_category['name'] }}
                      <input class="allowed_categories" type="hidden" name="product_category[]" value="{{ product_category['category_id'] }}" />
                    </div>
                  {% endfor %}
 {% endif %}
              </div>
            </div>
          </div>

          <div class="form-group" >
            <label class="col-sm-2 control-label">{{ entry_option }}</label>
            <div class="col-sm-10">
              <input type="text" name="option" value="" placeholder="{{ entry_option }}" id="input-option" class="form-control" />
              <div id="option_ids" class="well well-sm" style="height: 150px; overflow: auto;">
                {% if (options is defined and options) %}
 {% for option in options %}
                    <div id="option_ids{{ option['option_id'] }}"><i class="fa fa-minus-circle"></i> {{ option['name'] }}
                      <input type="hidden" name="option_ids[]" value="{{ option['option_id'] }}" />
                    </div>
                  {% endfor %}
 {% endif %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  // option
  $('input[name=\'option\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=catalog/option/autocomplete&user_token={{ user_token }}&filter_category=1&filter_name=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['option_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'option\']').val('');

      $('#option_ids' + item['value']).remove();

      $('#option_ids').append('<div id="option_ids' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="option_ids[]" value="' + item['value'] + '" /></div>');
    }
  });

  $('#option_ids').delegate('.fa-minus-circle', 'click', function() {
    $(this).parent().remove();
  });

  // Allowed option Category
  var allowed_categories = [];
  $('input[name = \'category\']').on('click', function(){

    allowed_categories = [];
    $('.allowed_categories').each(function(){
      allowed_categories.push($(this).val());
    });
  });

  // Category
  $('input[name=\'category\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&category_mapping=1&filter_name=' +  encodeURIComponent(request),
        type: 'post',
        dataType: 'json',
        data: {allowed_categories},
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['category_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'category\']').val('');

      $('#product-category' + item['value']).remove();

      $('#product-category').append('<div id="product-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input class="allowed_categories" type="hidden" name="product_category[]" value="' + item['value'] + '" /></div>');
    }
  });

  $('#product-category').delegate('.fa-minus-circle', 'click', function() {
    $(this).parent().remove();
  });
</script>

{{ footer }}
