{{ header }}{{ column_left }}
<div id="content">
  <style type="text/css">
    @media screen and (max-width: 786px) {
      #productImage {
        width: 100%;
      }
      #preview-image-container {
        width: 100%;
      }
    }

  </style>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ insert}}" id="insert" data-toggle="tooltip" title="{{ button_insert}}" class="btn btn-primary">
          <i class="fa fa-plus"></i>
        </a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete}}" class="btn btn-danger" onclick="confirm('{{ text_confirm}}') ? $('#form-product').submit() : false;">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <h1>{{ heading_title}}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li>
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i>
        {{ error_warning}}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success">
        <i class="fa fa-check-circle"></i>
        {{ success}}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-list"></i>
          {{ heading_title}}</h3>
      </div>

      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-seller">{{ column_partner_name}}</label>
                <div class='input-group'>
                  <input type="text" name="filter_seller" value="{{ filter_seller}}" placeholder="{{ column_partner_name}}" id="input-seller" class="form-control"/>
                  <span class="input-group-addon">
                    <span class="fa fa-angle-double-down"></span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="input-price">{{ column_price}}</label>
                <input type="text" name="filter_price" value="{{ filter_price}}" placeholder="{{ column_price}}" id="input-price" class="form-control"/>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ column_name}}</label>
                <div class='input-group'>
                  <input type="text" name="filter_name" value="{{ filter_name}}" placeholder="{{ column_name}}" id="input-name" class="form-control"/>
                  <span class="input-group-addon">
                    <span class="fa fa-angle-double-down"></span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="input-model">{{ column_model}}</label>
                <div class='input-group'>
                  <input type="text" name="filter_model" value="{{ filter_model}}" placeholder="{{ column_model}}" id="input-model" class="form-control"/>
                  <span class="input-group-addon">
                    <span class="fa fa-angle-double-down"></span>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-quantity">{{ column_quantity}}</label>
                <input type='text' name="filter_quantity" value="{{ filter_quantity}}" placeholder="{{ column_quantity}}" id="input-quantity" class="form-control"/>
              </div>

              <div class="form-group">
                <label class="control-label" for="input-quantity">{{ column_status}}</label>

                <select name="filter_status" class="form-control">
                  <option value="*"></option>
                  {% if filter_status %}
                    <option value="1" selected="selected">{{ text_enabled}}</option>
                  {% else %}
                    <option value="1">{{ text_enabled}}</option>
                  {% endif %}
                  {% if filter_status != null and not filter_status %}
                    <option value="0" selected="selected">{{ text_disabled}}</option>
                  {% else %}
                    <option value="0">{{ text_disabled}}</option>
                  {% endif %}
                </select>
              </div>

              <button type="button" onclick="filter();" class="btn btn-primary pull-right">
                <i class="fa fa-search"></i>
                {{ button_filter}}</button>
            </div>

          </div>
        </div>

        <form action="{{ delete}}" method="post" enctype="multipart/form-data" id="form-product">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/></td>
                  <td class="text-left">
                    {% if sort == 'c.customer_id' %}
                      <a href="{{ sort_seller_name}}" class="{{ order|lower }}">{{ column_partner_name}}</a>
                    {% else %}
                      <a href="{{ sort_seller_name}}">{{ column_partner_name}}</a>
                    {% endif %}
                  </td>
                  <td class="text-center">{{ column_image}}</td>
                  <td class="text-left">
                    {% if sort == 'pd.name' %}
                      <a href="{{ sort_name}}" class="{{ order|lower }}">{{ column_name}}</a>
                    {% else %}
                      <a href="{{ sort_name}}">{{ column_name}}</a>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    {% if sort == 'p.model' %}
                      <a href="{{ sort_model}}" class="{{ order|lower }}">{{ column_model}}</a>
                    {% else %}
                      <a href="{{ sort_model}}">{{ column_model}}</a>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    {% if sort == 'p.price' %}
                      <a href="{{ sort_price}}" class="{{ order|lower }}">{{ column_price}}</a>
                    {% else %}
                      <a href="{{ sort_price}}">{{ column_price}}</a>
                    {% endif %}
                  </td>
                  <td class="text-right">
                    {% if sort == 'p.quantity' %}
                      <a href="{{ sort_quantity}}" class="{{ order|lower }}">{{ column_quantity}}</a>
                    {% else %}
                      <a href="{{ sort_quantity}}">{{ column_quantity}}</a>
                    {% endif %}
                  </td>
                  <td class="text-center">
                    {% if sort == 'p.product_id' %}
                      <a href="{{ sort_status}}" class="{{ order|lower }}">{{ column_status}}</a>
                    {% else %}
                      <a href="{{ sort_status}}">{{ column_status}}</a>
                    {% endif %}
                  </td>
                  <td class="text-center">{{ column_action}}</td>
                </tr>
              </thead>
              <tbody>
                {% if products %}
                  {% for product in products %}
                  <tr>
                    <td style="text-align: center;">
                      {% if product['selected'] %}
                        <input type="checkbox" name="selected[]" value="{{ product['product_id']}}" checked="checked"/>
                      {% else %}
                        <input type="checkbox" name="selected[]" value="{{ product['product_id']}}"/>
                      {% endif %}
                    </td>
                    <td class="text-left">
                      {% if partners %}
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon" style="width: auto;" data-toggle="tooltip" title="{{ text_seller_info}}">
                              <span class="fa fa-user"></span>
                            </span>
                            <select class="form-control partner_change">
                              <option></option>
                              {% for partner in partners %}
                                {% if product['customer_id'] == partner['customer_id'] %}
                                  <option value="{{ partner['customer_id'] }}" selected>{{ partner['name'] }}</option>
                                {% else %}
                                  <option value="{{ partner['customer_id'] }}">{{ partner['name'] }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      {% endif %}
                    </td>
                    <td class="text-center"><img src="{{ product['image']}}" alt="{{ product['name']}}" style="padding: 1px; border: 1px solid #DDDDDD;"/></td>
                    <td class="text-left">{{ product['name']}}</td>
                    <td class="text-left">{{ product['model']}}</td>
                    <td class="text-left">
                      {% if product['special'] %}
                        <span style="text-decoration: line-through;">{{ product['price']}}</span><br/>
                        <span class="text-danger">{{ product['special']}}</span>
                      {% else %}
                        {{ product['price']}}
                      {% endif %}
                    </td>
                    <td class="text-right">
                      {% if product['quantity'] <= 0 %}
                        <span class="label label-warning">{{ product['quantity']}}</span>
                      {% elseif product['quantity'] <= low_stock_quantity %}
                        <span class="label label-danger">{{ product['quantity']}}</span>
                      {% else %}
                        <span class="label label-success">{{ product['quantity']}}</span>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      <a data-toggle="tooltip" title="{{ text_approve}}" class="btn btn-success cp-pro-status" {{ product['status'] ? "disabled" : ""}} cp-pro-id="{{ product['product_id']}}">
                        <i class="fa fa-thumbs-o-up"></i>
                      </a>
                    </td>
                    <td class="text-center">
                      <button type="button" data-toggle="tooltip" title="Product preview" class="btn btn-warning previewButton" data-product-id="{{ product['product_id']}}" data-product-status="{{ product['status']}}">
                        <i class="fa fa-eye"></i>
                      </button>

                      <div class="btn-group" data-toggle="tooltip" title="Live Product Preview">
                        <button type="button" data-toggle="dropdown" class="btn btn-warning dropdown-toggle">
                          <i class="fa fa-television"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                          {% for store in stores %}
                            <li>
                              <a href="{{ store['url']}}/index.php?route=product/product&user_token={{ user_token}}&product_id={{ product['product_id']}}&store_id={{ store['store_id']}}" target="_blank">{{ store['name']}}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>

                      {% for action in product['action'] %}
                        <a href="{{ action['href']}}" data-toggle="tooltip" title="{{ action['text']}}" class="btn btn-primary">
                          <i class="fa fa-pencil"></i>
                        </a>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="9">{{ text_no_results}}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>

        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination}}</div>
          <div class="col-sm-6 text-right">{{ results}}</div>
        </div>
      </div>
    </div>

    <div id="productPreviewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4>{{ "Product Preview" }}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="img-thumbnail" id="preview-image-container">
                  <img id="productImage" src="">
                </div>
              </div>
              <div class="col-sm-6">
                <ul class="list-group">
                  <li class="list-group-item" id="productName"></li>
                  <li class="list-group-item" id="productModel"></li>
                  <li class="list-group-item" id="ProductPrice"></li>
                  <li class="list-group-item" id="productQuantity"></li>
                  <li class="list-group-item" id="productAvailability"></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="pull-right">
              <button type="button" id="modalButton" class="btn btn-success cp-pro-status" cp-pro-id="">
                <i class="fa fa-thumbs-o-up"></i>
              </button>
              <button class="btn btn-default" type="button" data-dismiss="modal">
                {{ "close"}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $('.previewButton').on('click', function() {
        var caller = $(this);
        product_id = $(this).data('product-id');
        product_status = $(this).data('product-status');
        $('#modalButton').attr({'cp-pro-id': product_id});
        if (product_status) {
          $('#modalButton').attr('disabled', true);
        } else {
          $('#modalButton').removeAttr('disabled');
        }

        $.ajax({
          url: 'index.php?route=customerpartner/product/getProduct&user_token={{ user_token}}',
          data: {
            product_id: product_id
          },
          method: 'post',
          dataType: 'json',
          beforeSend: function() {
            caller.attr('disabled', true).children('i').removeClass('fa-eye').addClass('fa-spinner fa-spin');
          },
          success: function(product) {
            if (product.image) {
              $('#productImage').attr({'src': product.image, 'alt': product.name});
            } else {
              $('#productImage').attr({'src': '../image/no_image.png', 'alt': product.name});
            }
            $('#productName').text('{{ column_name ~ " : "}}' + product.product_name);
            $('#productModel').text('{{ column_model ~ " : "}}' + product.model);
            $('#ProductPrice').text('{{ column_price ~ " : "}}' + product.price);
            // $('#Productspecial').text('{{ column_price ~ " : "}}'+product.price);
            $('#productQuantity').text('{{ column_quantity ~ " : "}}' + product.quantity);
            if (product.quantity < 1) {
              $('#productAvailability').show();
              $('#productAvailability').text('{{ column_availability ~ " : "}}' + product.stock_status_name);
            } else {
              $('#productAvailability').hide();
            }
            caller.removeAttr('disabled').children('i').removeClass('fa-spinner fa-spin').addClass('fa-eye');
            $('#productPreviewModal').modal();
          }
        });
      });
    </script>

    <script type="text/javascript">
      <!--
      function filter() {
        url = 'index.php?route=customerpartner/product&user_token={{ user_token}}';

        var filter_name = $('input[name=\'filter_name\']').val();

        if (filter_name) {
          url += '&filter_name=' + encodeURIComponent(filter_name);
        }

        var filter_seller = $('input[name=\'filter_seller\']').val();

        if (filter_seller) {
          url += '&filter_seller=' + encodeURIComponent(filter_seller);
        }

        var filter_model = $('input[name=\'filter_model\']').val();

        if (filter_model) {
          url += '&filter_model=' + encodeURIComponent(filter_model);
        }

        var filter_price = $('input[name=\'filter_price\']').val();

        if (filter_price) {
          url += '&filter_price=' + encodeURIComponent(filter_price);
        }

        var filter_quantity = $('input[name=\'filter_quantity\']').val();

        if (filter_quantity) {
          url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
        }

        var filter_status = $('select[name=\'filter_status\']').val();

        if (filter_status != '*') {
          url += '&filter_status=' + encodeURIComponent(filter_status);
        }

        location = url;
      }

      //-->
    </script>
    <script type="text/javascript">
      <!--
      $('#form input').keydown(function(e) {
        if (e.keyCode == 13) {
          filter();
        }
      });

      //-->
    </script>
    <script type="text/javascript">
      <!--
      $('input[name=\'filter_name\']').autocomplete({
        delay: 0,
        source: function(request, response) {
          $.ajax({
            url: 'index.php?route=customerpartner/product/autocomplete&user_token={{ user_token}}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
              response($.map(json, function(item) {
                return {label: item.name, value: item.product_id}
              }));
            }
          });
        },
        select: function(item) {
          $('input[name=\'filter_name\']').val(item.label);

          return false;
        },
        focus: function(item) {
          return false;
        }
      });

      $('input[name=\'filter_model\']').autocomplete({
        delay: 0,
        source: function(request, response) {
          $.ajax({
            url: 'index.php?route=customerpartner/product/autocomplete&user_token={{ user_token}}&filter_model=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
              response($.map(json, function(item) {
                return {label: item.model, value: item.product_id}
              }));
            }
          });
        },
        select: function(item) {
          $('input[name=\'filter_model\']').val(item.label);

          return false;
        },
        focus: function(item) {
          return false;
        }
      });

      $('input[name=\'filter_seller\']').autocomplete({
        delay: 0,
        source: function(request, response) {
          $.ajax({
            url: 'index.php?route=customerpartner/partner/autocomplete&user_token={{ user_token}}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
              response($.map(json, function(item) {
                return {label: item.name, value: item.id}
              }));
            }
          });
        },
        select: function(item) {
          $('input[name=\'filter_seller\']').val(item.label);

          return false;
        },
        focus: function(item) {
          return false;
        }
      });

      //change product seller after change seller
      $('.partner_change').on('change', function() {
        thisthis = this;
        $('.alert').remove();
        spanHtml = $(this).prev().html();
        $(this).prev().html('<i class="fa fa-spinner fa-spin"></i>');

        $.ajax({
          url: 'index.php?route=customerpartner/partner/updateProductSeller&user_token={{ user_token}}',
          data: 'product_id=' + encodeURIComponent($(this).parents('td').prev('td').children('input').val()) + '&partner_id=' + encodeURIComponent(this.value),
          dataType: 'json',
          success: function(json) {
            html = '';
            if (json['success']) {
              html = '<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'];
              html += '<button type="button" class="close" data-dismiss="alert">&times;</button>';
              html += '</div>';
            } else if (json['error']) {
              html = '<div class="alert alert-danger"><i class="fa fa-check-circle"></i> ' + json['success'];
              html += '<button type="button" class="close" data-dismiss="alert">&times;</button>';
              html += '</div>';
            }
            $('.panel').before(html);
            $(thisthis).prev().html(spanHtml);

          }
        });
      });

      //-->
    </script>
    <script>
      <!--//
(function($wk_jq) {
	$wk_jq('.cp-pro-status').on('click', function(){
		if(confirm("{{ text_confirm_approve}}")){
  		url = '{{ approve}}&product_id='+$wk_jq(this).attr('cp-pro-id');
      $wk_jq('#insert').attr('href',url).trigger('click');
      location = url;
		}
	});
})(jQuery);
//-->
    </script>
    {{ footer}}
