{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-review" data-toggle="tooltip" title="{{ button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel}}" data-toggle="tooltip" title="{{ button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title}}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_add}}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action}}" method="post" enctype="multipart/form-data" id="form-review" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-customer"><span data-toggle="tooltip" title="{{ help_customer}}">{{ entry_customer}}</span></label>
            <div class="col-sm-10">
              <input type="text" name="customer" value="{{ customer}}" placeholder="{{ entry_customer}}" id="input-customer" class="form-control" />
              <input type="hidden" name="customer_id" value="{{ customer_id}}" />
              {% if error_customer %}
              <div class="text-danger">{{ error_customer}}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-seller"><span data-toggle="tooltip" title="{{ help_seller}}">{{ entry_seller}}</span></label>
            <div class="col-sm-10">
              <input type="text" name="seller" value="{{ seller}}" placeholder="{{ entry_seller}}" id="input-seller" class="form-control" />
              <input type="hidden" name="seller_id" value="{{ seller_id}}" />
              {% if error_seller %}
              <div class="text-danger">{{ error_seller}}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_text}}</label>
            <div class="col-sm-10">
              <textarea name="text" cols="60" rows="8" placeholder="{{ entry_text}}" id="input-text" class="form-control">{{ text}}</textarea>
              {% if error_text %}
              <div class="text-danger">{{ error_text}}</div>
              {% endif %}
            </div>
          </div>

          {% if review_fields is defined and review_fields %}
            {% for review_field in review_fields %}
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-{{ review_field['field_name']}}">{{ review_field['field_name']}}</label>
                <div class="col-sm-10">
                  {% for i in 1..5 %}
                    <label class="radio-inline">
                      {% if review_attributes[review_field['field_id']] is defined and  review_attributes[review_field['field_id']] == i %}
                      <input type="radio" name="review_attributes[{{ review_field['field_id']}}]" value="{{ i}}" checked="checked" />
                      {{ i}}
                      {% else %}
                      <input type="radio" name="review_attributes[{{ review_field['field_id']}}]" value="{{ i}}" />
                      {{ i}}
                      {% endif %}
                    </label>
              		{% endfor %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status}}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled}}</option>
                <option value="0">{{ text_disabled}}</option>
                {% else %}
                <option value="1">{{ text_enabled}}</option>
                <option value="0" selected="selected">{{ text_disabled}}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
  {% if customer_id %}
     var customer_id = {{ customer_id}};
  {% else %}
     var customer_id = '';
  {% endif %}

  {% if seller_id %}
     var seller_id = {{ seller_id}};
  {% else %}
     var seller_id = '';
  {% endif %}
  // var customer_id = '';
  // var seller_id = '';
  $('input[name=\'customer\']').autocomplete({
  	'source': function(request, response) {
  		$.ajax({
  			url: 'index.php?route=customerpartner/review/autocomplete&user_token={{ user_token}}&filter_customer=' +  encodeURIComponent(request)+'&seller_id='+seller_id,
  			dataType: 'json',
  			success: function(json) {
  				response($.map(json, function(item) {
  					return {
  						label: item['name'],
  						value: item['customer_id']
  					}
  				}));
  			}
  		});
  	},
  	'select': function(item) {
      
  		$('input[name=\'customer\']').val(item['label']);
  		$('input[name=\'customer_id\']').val(item['value']);
      customer_id = item['value'];
  	}
  });

  $('input[name=\'seller\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customerpartner/review/autocomplete&user_token={{ user_token}}&filter_seller=' +  encodeURIComponent(request)+'&customer_id='+customer_id,
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['customer_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      
      $('input[name=\'seller\']').val(item['label']);
      $('input[name=\'seller_id\']').val(item['value']);
      seller_id = item['value'];
    }
  });
//--></script></div>
{{ footer}}
