<!DOCTYPE html>
<html dir="{{ direction}}" lang="{{ lang}}">
<head>
<meta charset="UTF-8" />
<title>{{ title}}</title>
<base href="{{ base}}" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
</head>
<body>
<div class="container">
  <div style="page-break-after: always;">
    <h1>{{ text_invoice}} #{{ transaction_id}}</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td colspan="2">{{ text_transaction_details}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 50%;"><address>
            <strong>{{ store_name}}</strong><br />
            {{ store_address}}
            </address>
            <b>{{ text_telephone}}</b> {{ store_telephone}}<br />
            {% if store_fax %}
            <b>{{ text_fax}}</b> {{ store_fax}}<br />
            {% endif %}
            <b>{{ text_email}}</b> {{ store_email}}<br />
          </td>
          <td style="width: 50%;"><b>{{ text_date_added}}</b> {{ transaction_date}}<br />
            <b>{{ text_transaction_id}}</b> {{ transaction_id}}<br />
            <b>{{ text_transaction_method}}</b> {{ transaction_method}}<br />
            <b>{{ text_transaction_amount}}</b> {{ transaction_amount}}<br />
        </tr>
      </tbody>
    </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td class="text-right"><b>{{ column_order_id}}</b></td>
            <td><b>{{ column_product_name}}</b></td>
            <td class="text-right"><b>{{ column_quantity}}</b></td>
            <td class="text-right"><b>{{ column_price}}</b></td>
            <td class="text-right"><b>{{ column_admin_amount}}</b></td>
            <td class="text-right"><b>{{ column_seller_amount}}</b></td>
          </tr>
        </thead>
        <tbody>
          {% if transaction_orders is defined and transaction_orders %}
            {% for product in transaction_orders %}
            <tr>
              <td class="text-right">{{ product['order_id']}}</td>
              <td>{{ product['name']}}</td>
              <td class="text-right">{{ product['quantity']}}</td>
              <td class="text-right">{{ product['price']}}</td>
              <td class="text-right">{{ product['admin_amount']}}</td>
              <td class="text-right">{{ product['need_to_pay']}}</td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
