{{ header }}
<script>
  var base_url = location.origin;
  var current_url = location.href;
  {% if admin_analytic_id is defined and admin_analytic_id and profile_analytic is defined and profile_analytic %}
  
    ga('create', '{{ admin_analytic_id }}', 'auto', 'AdminTracker');
    ga('AdminTracker.set', 'page', current_url.replace(base_url,''));
    ga('AdminTracker.send', 'pageview');
  {% endif %}
  {% if seller_analytic_id is defined and seller_analytic_id and profile_analytic is defined and profile_analytic %}
    ga('create', '{{ seller_analytic_id }}', 'auto', 'SellerTracker');
    ga('SellerTracker.set', 'page', current_url.replace(base_url,''));
    ga('SellerTracker.send', 'pageview');
  {% endif %}
  $(document).on('ajaxComplete', function (event, request, settings) {
    //console.log(settings.url);
    var seller_collection =  'customerpartner/profile/collection';
    if(settings.url.includes(seller_collection)) {
      var ajaxURL = settings.url;
      {% if admin_analytic_id is defined and admin_analytic_id and collection_analytic is defined and collection_analytic %}
        ga('create', '{{ admin_analytic_id }}', 'auto', 'AdminTracker');
        ga('AdminTracker.set', 'page', ajaxURL.replace(base_url,''));
        ga('AdminTracker.send', 'pageview');
      {% endif %}
      {% if seller_analytic_id is defined and seller_analytic_id and collection_analytic is defined and collection_analytic %}
        ga('create', '{{ seller_analytic_id }}', 'auto', 'SellerTracker');
        ga('SellerTracker.set', 'page', ajaxURL.replace(base_url,''));
        ga('SellerTracker.send', 'pageview');
      {% endif %}
    }
  });
</script>
<style>
  .companybanner {
   {% if (partner['companybanner']) %}
      background:url("{{ partner['companybanner'] }}") no-repeat scroll center center / 100% 325px rgba(0, 0, 0, 0);
    {% elseif (partner["backgroundcolor"]) %}
      background-color:{{ partner["backgroundcolor"] }};
    {% else %}
      background-color: #2BA9EF;
    {% endif %}
  }
  .box {
  border: 1px solid #b5b5b5;
  height: 136px;
}
@media only screen and (max-width: 600px) {
 .image-seller{
  margin-left: -22% !important;
  width: 143% !important;
  height: 100% !important;
 }
}
</style>
<div class="container">
  <div>
    <div id="content" class="col-sm-12">

      <div class="row companybanner" style="min-height:200px;">
        <div class="company-logo pull-right">
          {% if (partner['companylogo'] is defined and partner['companylogo']) %}
            <img src="{{ partner['companylogo'] }}" alt="{{ partner['companyname'] }}" class="">
          {% endif %}
        </div>
      </div>

      <div class="row" style="min-height:200px;margin:10px -30px;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 box" style="margin-left:3%;margin-top: 4%;">
              {% if (partner['avatar'] is defined and partner['avatar']) %}
                <img src="{{ partner['avatar'] }}" alt="{{ partner['firstname'] }}" style="margin-left: -13%;" class="image-seller">
              {% endif %}
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin-left:5%">
              <div class="upper-detail">
                 {% if partner['companyname'] is defined and partner['companyname']  %}
                {{ partner['companyname'] }}
                {% else %}
                {{ partner['firstname']~" "~partner['lastname'] }}
                {% endif %}
              </div>

              <div class="lower-detail">
                {% set i = 1 %}{% for i in i..feedback_total %}
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-5x"></i></span>
                {% endfor %}
                {% set j = feedback_total %}{% for j in j..4 %}
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-5x"></i></span>
                {% endfor %}
              </div>

              {% if (telephone or customer_id == seller_id) %}
                <div class="seller-mobile">
                  <i class="fa fa-phone"></i>&nbsp&nbsp&nbsp
                  {{ partner['telephone'] }}
                </div>
              {% endif %}

              {% if (email or customer_id == seller_id) %}
                <div class="seller-email">
                  <i class="fa fa-envelope-o"></i>&nbsp&nbsp&nbsp
                  {{ partner['email'] }}
                </div>
              {% endif %}
              <div class="seller-email" style="margin-top: 4%;">
                {% if (achivment['filepath'] is defined and achivment['filepath']) %}
                  <a href="{{ achivment['filepath'] }}" target="_blank" class="btn btn-info">
                    <i class="fa fa-eye"> </i> Achievements
                  </a>
                {% endif %}
              </div>

            </div>
          </div>
          <div class="row">
            {% if (marketplace_customercontactseller) %}
                <div class="cennect-text">
                  {{ text_connect }}
                  <div class="connect-icons">
                  <span>
                    {% if (partner['facebookid'] is defined and partner['facebookid']) %}
                      <a href="http://facebook.com/{{ partner['facebookid'] }}">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                    {% endif %}
                  </span>
                  <span>
                    {% if (partner['twitterid'] is defined and partner['twitterid']) %}
                      <a href="http://twitter.com/{{ partner['twitterid'] }}">
                        <i class="fa fa-twitter"></i>
                      </a>
                    {% endif %}
                  </span>
                  <span>
                    {% if (logged) %}
                      <a data-target="#myModal-seller-mail" data-toggle="modal">
                        <i class="fa fa-envelope-o"></i>
                      </a>
                    {% else %}
                      <a href="{{ login }}" data-toggle="tooltip" data-original-title="{{ text_login_contact }}">
                        <i class="fa fa-envelope"></i>
                      </a>
                    {% endif %}
                  </span>
                </div><!-- connect-icons -->
              </div>
            {% endif %}
          </div>
        </div>

        <div id="tab-location" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        </div>
      </div>

      <div class="row">
        <ul class="nav nav-tabs" style="display:flex;width:103%">
          <li class="active mp-list-group-item" style="border-top: solid 5px #2BA9EF !important;">
            <a href="#tab-profile" data-toggle="tab"><center><img src="image/MP/profile.png" /></center>
            {{ text_profile }}</a>
          </li>
          {% if (public_seller_profile is defined and ('store'  in public_seller_profile)) %}
          <li class="mp-list-group-item" style="border-top: solid 5px #2BA9EF !important;">
            <a href="#tab-store" data-toggle="tab"><center><img src="image/MP/about.png" /></center>
            {{ text_store }}</a>
          </li>
          {% endif %}

          {% if (public_seller_profile is defined and ('collection'  in public_seller_profile)) %}
          <li class="mp-list-group-item" style="border-top: solid 5px #2BA9EF !important;">
            <a href="#tab-collection" data-toggle="tab"><center><img src="image/MP/collection.png" /></center>
            {{ text_collection }} ({{ collection_total ? collection_total : '0' }})</a>
          </li>
          {% endif %}
          {% if (public_seller_profile is defined and ('review' in public_seller_profile)) %}
          <li class="mp-list-group-item" style="border-top: solid 5px #2BA9EF !important;">
            <a href="#tab-reviews" data-toggle="tab"><center><img src="image/MP/review.png" /></center>
            {{ text_reviews }} ({{ feedback_total ? feedback_total|round(1, 'floor') : '0' }})</a>
          </li>
          {% endif %}
          {% if (public_seller_profile is defined and ('productReview' in public_seller_profile)) %}
          <li class="mp-list-group-item" style="border-top: solid 5px #2BA9EF !important;">
            <a href="#tab-product-reviews" data-toggle="tab"><center><img src="image/MP/product.png" /></center>
            {{ text_product_reviews }}({{ product_feedback_total ? product_feedback_total : '0' }})</a>
          </li>
          {% endif %}
        </ul>
        <div class="tab-content">

          <div class="tab-pane active tab_style" style="text-align: justify;" id="tab-profile">
            {{ partner['shortprofile'] }}

{% if (informations is defined and informations) %}
  <h3 style="line-height: 24px;color: rgb(0, 0, 0);margin-top: 10px;">{{ text_seller_information }}</h3>
  {% for information in informations %}
    <div>
      <a href="{{ information['href'] }}" target="_blank">{{ information['title'] }}</a>
    </div>
  {% endfor %}
{% endif %}
          </div> <!-- tab-profile -->
          {% if (public_seller_profile is defined and ('store' in public_seller_profile)) %}
            <div id="tab-store" style="text-align: justify;" class="tab-pane tab_style">
              {{ partner['companydescription']|striptags }}
            </div> <!-- tab-store -->
          {% endif %}

          {% if (public_seller_profile is defined and ('review' in public_seller_profile)) %}
            <div id="tab-reviews" class="tab-pane tab_style">
              {% if (customer_id != seller_id) %}
                <div class="pull-right">
                  {% if (logged) %}
                    {% if (give_review) %}
                      <button type="button" data-toggle="modal" class="btn btn-block button" data-target="#myModal-seller-review" style="margin-top: -6%;">
                      {{ text_write_review }}
                    {% endif %}
                    </button>
                  {% else %}
                    <a href="{{ login }}" class="btn btn-block button" data-toggle="tooltip" data-original-title="{{ text_login_review }}">
                      {{ text_write_review }}
                    </a>
                  {% endif %}
                </div>
              {% endif %}
              <div id="prev-reviews">
              </div>
            </div> <!-- tab-reviews -->
          {% endif %}

          {% if (public_seller_profile is defined and ('productReview' in public_seller_profile)) %}
            <div id="tab-product-reviews" class="tab-pane tab_style"></div> <!-- tab-product-reviews -->
          {% endif %}

          {% if (public_seller_profile is defined and ('collection' in public_seller_profile)) %}
            <div id="tab-collection" class="tab-pane tab_style" style="font-size:12px"></div> <!-- tab-collection -->
          {% endif %}
          <div id="dummy-collection"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if (logged) %}
<div class="modal fade" id="myModal-seller-mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ text_close }}</span></button>
        <h3 class="modal-title">{{ text_ask_seller }}</h3>
      </div>
      <form id="seller-mail-form">
        <div class="modal-body">
          <div class="form-group required">
            <label class="control-label" for="input-subject">{{ text_subject }}</label>
            <input type="text" name="subject" id="input-subject" class="form-control" />
            {% if (partner is defined) %}
            <input type="hidden" name="seller" value="{{ seller_id }}"/>
            {% endif %}
          </div>
          <div class="form-group required">
            <label class="control-label" for="input-message">{{ text_ask }}</label>
            <textarea class="form-control" name="message" rows="3" id="input-message"></textarea>
          </div>
          <div class="error text-center text-danger"></div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
        <button type="button" class="btn btn-primary" id="send-mail">{{ text_send }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}

  <div class="modal fade" id="myModal-seller-review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ text_close }}</span></button>
        <h3 class="modal-title">{{ text_write_review }}</h3>
      </div>
      <div class="modal-body" id="review-modal">
        <form class="form-horizontal" id="seller_review_form">
          <div class="form-group required">
            <div class="col-sm-12">
              <label class="control-label" for="input-name">{{ text_nickname }}</label>
              <input type="text" name="name" value="" id="input-name" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <div class="col-sm-12">
              <label class="control-label" for="input-review">{{ text_review }}</label>
              <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
              <div class="help-block">{{ text_note }}</div>
            </div>
          </div>
          {% if (review_fields is defined and review_fields) %}
 {% for review_field in review_fields %}
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label">{{ review_field['field_name'] }}</label>
                  &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                  {% set i=1 %}{% for i in i..5 %}
                    <input type="radio" id="review_attributes[{{ review_field['field_id'] }}]" name="review_attributes[{{ review_field['field_id'] }}]" value="{{ i }}" />
              		{% endfor %}
                  &nbsp;{{ entry_good }}
                </div>
              </div>
            {% endfor %}
 {% endif %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
        <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ text_send }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  $('.nav-tabs li a').on('click',function(){
    if ($(this).attr('href')) {
      localStorage.setItem("tab-active",$(this).attr('href'))
    }
  });

  $(document).ready(function(){

    localStorage.setItem('hide-child', 0);

    var tab_active = '#tab-profile';

    if (localStorage.getItem("tab-active")) {
      tab_active = localStorage.getItem("tab-active");
    }

    if (tab_active) {
      $('[href*='+tab_active+']').parent().addClass('active');
      $('[href*='+tab_active+']').parent().siblings().removeClass('active');
      $(tab_active).addClass('active');
      $(tab_active).siblings().removeClass('active');

      var src = $('[href*='+tab_active+']').find('img').attr('src');

      src = src.substring(0, src.indexOf('.'));

      src = src + '-active.png';

      $('[href*='+tab_active+']').find('img').attr('src',src);
    }
  });
</script>

<script type="text/javascript">

$('.mp-list-group-item a').on('click',function(){
  var src = $(this).find('img').attr('src');
  if (src.substring(0, src.indexOf('-'))) {
    src = src.substring(0, src.indexOf('-'));
  } else {
    src = src.substring(0, src.indexOf('.'));
  }

  src = src + '-active.png';

  $(this).find('img').attr('src',src)

  $($(this).parent().siblings().find('img')).each(function(index,value) {
    var sibling_src = $(this).attr('src');

    if (sibling_src.substring(0, sibling_src.indexOf('-'))) {
      sibling_src = sibling_src.substring(0, sibling_src.indexOf('-'));
    } else {
      sibling_src = sibling_src.substring(0, sibling_src.indexOf('.'));
    }
    sibling_src = sibling_src + '.png';

    $(this).attr('src',sibling_src)
  });
});

collectionUrl = '{{ collection }}';

function loadCollection(showMenu,data = 0){
  $.ajax({
    url : collectionUrl,
    type:'POST',
    data:data,
    dataType: 'html',
    success: function(response) {
      categoryMenu = $(response).find('#column-left').html();
      $('#category-menu').remove();
      $('.left-panel').append(categoryMenu);
      $('#tab-collection').html(response);
      if(showMenu) {
        $('#category-menu').show();
      }
      if (localStorage.getItem('display') == 'list') {
        $('#list-view').trigger('click');
      } else {
        $('#grid-view').trigger('click');
      }

      if ($('#category-menu li').hasClass('hide-child')) {
        if (localStorage.getItem("hide-child") == 1) {
          $('.hide-child').addClass('hide');
          localStorage.setItem('hide-child', 0);
        } else{
          localStorage.setItem('hide-child', 1);
        }
      }
    }
  })
}

(function($) {
  $('#main-tab li').on('click', function() {
    tab = $(this).children('a').data('tab');
    $('.mp-list-group li').removeClass('mp-active');
    $(this).addClass('mp-active');
    $('.mp-tab-content').removeClass('mp-tab-active');
    $(tab).addClass('mp-tab-active');
    if(tab == '#tab-collection') {
      $('#category-menu').show();
    } else {
      $('#category-menu').hide();
    }
  });

  $.ajax({
      url : '{{ feedback }}',
      dataType: 'html',
      success: function(response) {
        $('#prev-reviews').html(response);
      }
    });

  $.ajax({
    url : '{{ product_feedback }}',
    dataType: 'html',
    success: function(response) {
      $('#tab-product-reviews').html(response);
    }
  });

  loadCollection(false);

})(jQuery)

$('body').on('click', '#category-menu li', function() {
  collectionUrl = $(this).children('a').data('collection-url');
  $('#category-menu li').removeClass('mp-active');
  $(this).addClass('mp-active');
  loadCollection(true);
})

{% if (showCollection) %}
  $('a[href="#tab-collection"]').trigger('click');
{% endif %}

{% if (logged) %}
$('#send-mail').on('click',function(){
  f = 0;
  $('#myModal-seller-mail input[type=\'text\'],#myModal-seller-mail textarea').each(function () {
    if ($(this).val().trim() == '') {
      $(this).parent().addClass('has-error');
      f++;
    }else{
      $(this).parent().removeClass('has-error');
    }
  });

  if (f > 0) {
    $('#myModal-seller-mail .error').text('{{ text_error_mail }}').slideDown('slow').delay(2000).slideUp('slow');
  } else {
    $('#send-mail').addClass('disabled');
    $('#myModal-seller-mail').addClass('mail-procss');
    $('.alert-success').remove();
    $('#myModal-seller-mail .modal-body').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ text_success_mail }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    $.ajax({
      url: '{{ send_mail }}',
      data: $('#seller-mail-form').serialize()+'{{ mail_for }}',
      type: 'post',
      dataType: 'json',
      complete: function () {
        $('#send-mail').removeClass('disabled');
        $('#myModal-seller-mail input,#myModal-seller-mail textarea').each(function () {
          if(this.type != 'hidden'){
            $(this).val('');
            $(this).text('');
          }
        });
      }
    });
  }
});
{% endif %}
</script>

<script type="text/javascript">

$.ajax({
  url: '{{ loadLocation }}',
  dataType: 'html',
  success: function(response) {
    $('#tab-location').html(response);
  }
});

localocation = false;
$('#main-tab li').on('click',function(){
  if(!localocation){
    $.ajax({
      url: '{{ loadLocation }}',
      dataType: 'html',
      success: function(response) {
        $('#tab-location').html(response);
      }
    });
    localocation = true;
  }
})

/**
 * [To store feedback]
 * @return {none} [It will not return anything just reflect the form if unsuccessful and empty the form if successful]
 */
$('#button-review').on('click', function() {
  $.ajax({
    url: '{{ writeFeedback }}',
    type: 'post',
    dataType: 'json',
    data: $('#seller_review_form input[type=\'text\'],input[type=\'radio\']:checked,textarea'),

    beforeSend: function() {
      $('#button-feedback').button('loading');
    },
    complete: function() {
      $('#button-feedback').button('reset');
    },
    success: function(json) {
      $('.alert-success, .alert-danger').remove();

      if (json['error']) {
        $('#review-modal').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button class="close" type="button" data-dismiss="alert" >&times;</button></div>');
      }
      if (json['success']) {
        $('.alert-success').remove();
        $('#review-modal').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
        $('input[name=\'name\']').val('');
        $('textarea[name=\'text\']').val('');
        $('input[name=\'price_rating\']:checked').prop('checked', false);
        $('input[name=\'quality_rating\']:checked').prop('checked', false);
        $('input[name=\'value_rating\']:checked').prop('checked', false);
      }
    }
  });
});

</script>

<script>
// Product List
$('body').on('click', '#list-view', function() {
  $('#content .product-layout > .clearfix').remove();

  $('#content .product-layout').attr('class', 'product-layout product-list col-xs-12');

  localStorage.setItem('display', 'list');
});

// Product Grid
$('body').on('click', '#grid-view', function() {
  $('#content .product-layout > .clearfix').remove();

  // What a shame bootstrap does not take into account dynamically loaded columns
  cols = $('#column-right, #column-left').length;

  if (cols == 2) {
    $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-12');

    // $('#content .product-layout:nth-child(2)').after('<div class="clearfix visible-md visible-sm"></div>');
  } else if (cols == 1) {
    $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12');

    // $('#content .product-layout:nth-child(3)').after('<div class="clearfix visible-lg"></div>');
  } else {
    $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12');

    // $('#content .product-layout:nth-child(3)').after('<div class="clearfix"></div>');
  }

   localStorage.setItem('display', 'grid');
});

if (localStorage.getItem('display') == 'list') {
  $('#list-view').trigger('click');
} else {
  $('#grid-view').trigger('click');
}

$('body').on('change', '#seller-collection select',function() {
  collectionUrl = this.value;
  loadCollection(true);
  // $('a[href=\'#tab-collection\']').append(' <i class="fa fa-spinner fa-spin remove-me"></i>');
  // $('#tab-collection').load(thisvalue,function(){
  //     $('.remove-me').remove();
  //   });
});

//   Module Update Code Start;

var waitTimer = 2000;
$('body').on('keyup', '#seller-collection input',function() {
   let el_val = this.value;
   setTimeout(function () {
      loadCollection(true,'product_name= '+el_val);
    }, waitTimer);
});

//   Module Update Code Ends;

$('body').on('click','#seller-collection a',function(e){
  if(!$(this).hasClass('default-work'))
    e.preventDefault();
  else
    return;

  thisvalue = this.href;
  $('a[href=\'#tab-collection\']').append(' <i class="fa fa-spinner fa-spin remove-me"></i>');
  $('#tab-collection').load(thisvalue,function(){
      $('.remove-me').remove();
      if (localStorage.getItem('display') == 'list') {
        $('#list-view').trigger('click');
      } else {
        $('#grid-view').trigger('click');
      }
    });
});
</script>
{{ footer }}