{{ header }}
{{ column_left }}
<div id="content">
		<div class="page-header">
		 	<div class="container-fluid">
		 		<div class="pull-right">
		 			<a id="saveForm" class="btn btn-primary" title="{{ button_save }}"><i class="fa fa-save"></i></a>
					<a href="{{ back}}" class="btn btn-default" title="{{ button_back }}"><i class="fa fa-reply"></i></a>
		 		</div>
		 		<h1>{{ heading_title}}</h1>
			 	<ul class="breadcrumb">
		        	{% for breadcrumb in breadcrumbs %}
		        	<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		        	{% endfor %}
	     	 	</ul>
			</div>
		</div>

		<div class="container-fluid">
			<div class="panel panel-default">
			    <div class="panel-heading">
			        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ lower_heading_title}}</h3>
			      </div>
		      	<div class="panel-body">
					<form id="optionform" class="form-horizontal" action="{{ action}}" method="post" enctype="multipart/form-data">

										{% if fieldId is defined and fieldId != '' %}
											<input type="hidden" name="fieldId" value="{{ fieldId}}">
										{% endif %}
										{% for language in languages %}
										<div class="form-group required">
											<label class="col-sm-2 control-label" for="forseller1">
												{{ text_field_name}}
											</label>
											<div class="col-sm-10">
												<div class="input-group">
													<span class="input-group-addon">
														<img src="language/{{ language['code']}}/{{ language['code']}}.png">
													</span>
													<input type="text" class="form-control" name="fieldName[{{ language['language_id']}}]" value="{% if fieldName is defined %}{{ fieldName[language['language_id']] }}{%endif %} ">
												</div>
											</div>
										</div>
										{% endfor %}

										{% for language in languages %}
										<div class="form-group required">
											<label class="col-sm-2 control-label" for="forseller1">
												{{ text_desc}}
											</label>
											<div class="col-sm-10">
												<div class="input-group">
													<span class="input-group-addon">
														<img src="language/{{ language['code']}}/{{ language['code']}}.png">
													</span>
													<textarea class="form-control" row="5" name="fieldDes[{{ language['language_id']}}]" value="" placeholder="Enter field's Description...">{% if fieldDes is defined %}{{ fieldDes[language['language_id']] }}{%endif %}</textarea>
												</div>
											</div>
										</div>
										{% endfor %}
										<div class="form-group">
											<label class="col-sm-2 control-label" for="forseller1">
														{{ text_is_req}}
											</label>
											<div class="col-sm-10">
												<select class="form-control" name="isRequired">
													<option value="yes" {% if isRequired is defined and isRequired == "yes" %}{{ 'selected' }}{%endif %}>Yes</option>
													<option value="no" {% if isRequired is defined and isRequired == "no" %}{{ 'selected' }}{%endif %}>No</option>
												</select>
											</div>
										</div>

											<div class="form-group">
												<label class="col-sm-2 control-label" for="forseller1">
													{{ text_for_seller}}
												</label>
												<div class="col-sm-10">
													<select class="form-control" name="forSeller">
														<option value="yes" {% if forSeller is defined and forSeller == "yes" %}{{ 'selected' }}{%endif %}>Yes</option>
														<option value="no" {% if forSeller is defined and forSeller == "no" %}{{ 'selected' }}{%endif %}>No</option>
													</select>
												</div>
											</div>

										<div class="form-group required">
											<label class="col-sm-2 control-label" for="forseller1">
														{{ text_field_type}}
											</label>
											<div class="col-sm-10">
												<select class="form-control" name="fieldType" id="selectfieldType">
													<option value=""></option>
													<optgroup label="Choose">
														<option value="select" {% if fieldType is defined and fieldType == "select" %}{{ 'selected' }}{%endif %} >Select</option>
														<option value="radio" {% if fieldType is defined and fieldType == "radio" %}{{ 'selected' }}{%endif %}>Radio</option>
														<option value="checkbox" {% if fieldType is defined and fieldType == "checkbox" %}{{ 'selected' }}{%endif %}>Checkbox</option>
													</optgroup>
													<optgroup label="Input">
														<option value="text" {% if fieldType is defined and fieldType == "text" %}{{ 'selected' }}{%endif %}>Text</option>
														<option value="textarea" {% if fieldType is defined and fieldType == "textarea" %}{{ 'selected' }}{%endif %}>Textarea</option>
													</optgroup>
													<optgroup label="Date">
														<option value="date" {% if fieldType is defined and fieldType == "date" %}{{ 'selected' }}{%endif %}>Date</option>
														<option value="time" {% if fieldType is defined and fieldType == "time" %}{{ 'selected' }}{%endif %}>Time</option>
														<option value="datetime" {% if fieldType is defined and fieldType == "datetime" %}{{ 'selected' }}{%endif %}>Date & time</option>
													</optgroup>
												</select>
											</div>
										</div>
					<table id="optionValues" class="table table-bordered table-hover" >
							{% if fieldoptions is defined and fieldoptions %}
								{% set optionRow = 0 %}
								<thead>
									<tr>
										<td class="left">
											<span style="color:#f00">* </span>
											{{ text_option_value}}
										</td>
										<td class="center">
											{{ text_action}}
										</td>
									</tr>
								</thead>
								<tr>
									<td class="left"></td>
									<td class="center">
										<a class="btn btn-primary" onclick="addField('{% if fieldType is defined and fieldType != '' %}{{ fieldType }}{%endif %}');" title="{{ text_add_option}}">
											<i class="fa fa-plus"></i>
										</a>
									</td>
								</tr>
								{% for index, value in fieldoptions %}
										<tr>
											<td class="left">
											<input type="hidden" class="form-control" value="{{ index}}" name="optionId[{{ optionRow}}]">
											{% for language in languages %}
												<div class="col-sm-10">
													<div class="input-group">
														<span class="input-group-addon">
															<img src="language/{{ language['code']}}/{{ language['code']}}.png">
														</span>
														<input type="text" class="form-control"  name="preOptionValue[{{ optionRow}}][{{ language["language_id"]}}]" value="{{ value[language['language_id']]['des']}}">
													</div>
												</div>
											{% endfor %}
											</td>
											<td colspan="" class="center">
												<a class="btn btn-danger" onclick="$(this).parent().parent().remove();" title="{{ text_remove}}" >
													<i class="fa fa-minus-circle"></i>
												</a>
											</td>
										</tr>
										{% set optionRow = optionRow + 1 %}
									{% endfor %}
							{% endif %}
					</table>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$('#saveForm').on('click',function(){
	count = 0;
	$('.alert').remove();
	$('form input[type="text"] ').each(function(){
		if($(this).val() == ''){
			count++;
			if(count == 1){
				html = '<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_insert}}</div>';
				$('.panel-default').before(html);
			}
			$(this).parent().prev().css('color','#E85453');
			$(this).effect('highlight',500);
		}
	})
	if(count == 0){
		$('#optionform').submit();
	}
});

optionvalue = 0;
flag = 0;
$('#selectfieldType').on('change',function(){
	if(flag == 0){
		Oldcontent = $('#optionValues').html();
	}
	fieldType = $(this).val();
	if(fieldType != 'select' && fieldType != 'checkbox' && fieldType != 'radio'){
		$('#optionValues').hide();
	}else{
		$('#optionValues').show();
		$('#optionValues').html('');
		oldFieldType = '{% if fieldType is defined and fieldType != '' %}{{ fieldType}}{%endif %} ';
		if(fieldType == oldFieldType){
			html = Oldcontent;
		}else{
			html = '<thead><tr><td class="left"><span style="color:#f00">* </span>{{ text_option_value}}</td><td class="center">{{ text_action}}</td></tr></thead><tr><td class="left"></td><td class="center"><a class="btn btn-primary" onclick="addField(fieldType);" title="{{ text_add_option}}"><i class="fa fa-plus"></i></a></td></tr>';
		}
		$(html).appendTo('#optionValues');
		addField(fieldType);
	}
	flag++;
})

function addField(fieldType){
	if(fieldType == 'select' || fieldType == 'checkbox' || fieldType == 'radio') {
			html = '<tr><td class="left">';
		{% for language in languages %}
			html +=  '<div class="col-sm-10"><div class="input-group"><span class="input-group-addon"><img src="language/{{ language['code']}}/{{ language['code']}}.png"></span><input type="text" class="form-control" placeholder="option value '+optionvalue+'" name="optionValue['+optionvalue+'][{{ language["language_id"]}}]"></div></div>';
			html += '</td><td colspan="" class="center"><a class="btn btn-danger" onclick="$(this).parent().parent().remove();" title="{{ text_remove}}"><i class="fa fa-minus-circle"></i></a></td></tr>';
			$(html).appendTo('#optionValues');
			optionvalue++;
		{% endfor %}
	}
}

</script>

{{ footer}}
