<style>
    fieldset .pull-left {
      width: 29%;
      display: inline-block;
    }
    fieldset .pull-left:nth-child(1), fieldset .pull-left:nth-child(2) {
      margin-right:1%;
    }
    @media screen and (max-width: 760px) {
      .top_margin {
        margin-top: 28px;
      }
    }
    @media screen and (max-width: 550px) {
      .top_margin {
        width: auto !important;
      }
      fieldset .pull-left:nth-child(1), fieldset .pull-left:nth-child(2) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: 550px) {
      fieldset .pull-left {
        display: block;
        width: 100%;
      }
      fieldset .pull-left input[type="text"] {
        width: 100%;
      }
    }
    .buttons .pull-right:nth-child(2) > .button:nth-child(1) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    table{
      font-size : 12px;
    }
</style>
{{ header }}{{ separate_column_left }} 
{% if (chkIsPartner is defined) %} 
{% if (separate_view is defined and separate_view) %} 
  <div class="container-fluid" id="content">
{% else %} 
  <div class="container">
{% endif %} 
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %} 
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %} 
  </ul>

  {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}</div>
  {% endif %} 
  {% if (success) %} 
    <div class="alert alert-success"><i class="fa fa-check-circle"> </i> {{ success }}</div>
  {% endif %} 
  {% if (attention) %} 
    <div class="alert alert-info">{{ attention }}</div>
  {% endif %} 

  <div class="row">{{ column_left }} 
    {% if (column_left and column_right) %} 
    {% set class = 'col-sm-6' %} 
    {% elseif (column_left or column_right) %} 
    {% set class = 'col-sm-9' %} 
    {% else %} 
    {% set class = 'col-sm-12' %} 
    {% endif %} 

  <div id="content" class="{{ class }}">{{ content_top }} 
    <h1>
      {{ heading_title }} 
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <a href="{{ back }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
        <a onclick="$('#form-delete').submit();" data-toggle="tooltip" class="btn btn-danger"  title="{{ button_delete }}"><i class="fa fa-trash-o"></i></a>
      </div>
    </h1>

    <legend><i class="fa fa-list"></i> {{ text_mpshipping }}</legend>
    {% if (isMember) %} 
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-matrix" data-toggle="tab">{{ tab_matrix }}</a></li>
            <li><a href="#tab-event" data-toggle="tab">{{ entry_event }}</a></li>
            <li><a href="#tab-priority" data-toggle="tab">{{ entry_priority }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-matrix">
              <div class="well">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label" for="input-country">{{ shipping_country }}</label>
                      <input type="text" name="filter_country" value="{{ filter_country }}" placeholder="{{ filter_country }}" id="input-country" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-price">{{ price }}</label>
                      <input type="text" name="filter_price" value="{{ filter_price }}" placeholder="{{ filter_price }}" id="input-price" class="form-control" />
                    </div>
                  </div>

                   <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label" for="input-zipto">{{ zip_to }}</label>
                      <input type="text" name="filter_zip_to" value="{{ filter_zip_to }}" placeholder="{{ filter_zip_to }}" id="input-zipto" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-weightto">{{ weight_to }}</label>
                      <input type="text" name="filter_weight_to" value="{{ filter_weight_to }}" placeholder="{{ filter_weight_to }}" id="input-weightto" class="form-control" />
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label" for="input-zipfrom">{{ zip_from }}</label>
                      <input type="text" name="filter_zip_from" value="{{ filter_zip_from }}" placeholder="{{ filter_zip_from }}" id="input-zipfrom" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-weightfrom">{{ weight_from }}</label>
                      <input type="text" name="filter_weight_from" value="{{ filter_weight_from }}" placeholder="{{ filter_weight_from }}" id="input-weightfrom" class="form-control" />
                    </div>
                  </div>

                  <a onclick="clearfilter();"  class="btn btn-danger pull-right" style="margin-left: 10px;" data-toggle="tooltip" title="{{ button_clear_filtering }}">{{ button_clear_filtering }}</a>

                  <a onclick="filter();"  class="btn btn-primary pull-right" data-toggle="tooltip" title="{{ button_filtering }}">{{ button_filtering }}</a>
                </div>
              </div>
              <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-delete">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                        <td width="1" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                          <td class="text-left">
                            {% if (sort == 'cs.country_code' or sort == 'cs.id') %} 
                            <a href="{{ sort_country_code }}" class="{{ order  | lower }}">{{ shipping_country }}</a>
                            {% else %} 
                            <a href="{{ sort_country_code }}">{{ shipping_country }}</a>
                            {% endif %} 
                          </td>
                          <td class="text-left">
                            {% if (sort == 'cs.zip_from') %} 
                            <a href="{{ sort_zip_from }}" class="{{ order  | lower }}">{{ zip_from }}</a>
                            {% else %} 
                            <a href="{{ sort_zip_from }}">{{ zip_from }}</a>
                            {% endif %} 
                          </td>
                          <td class="text-left">
                            {% if (sort == 'cs.zip_to') %} 
                            <a href="{{ sort_zip_to }}" class="{{ order  | lower }}">{{ zip_to }}</a>
                            {% else %} 
                            <a href="{{ sort_zip_to }}">{{ zip_to }}</a>
                            {% endif %} 
                          </td>
                          <td class="text-left">
                            {% if (sort == 'cs.price') %} 
                            <a href="{{ sort_price }}" class="{{ order  | lower }}">{{ price }}</a>
                            {% else %} 
                            <a href="{{ sort_price }}">{{ price }}</a>
                            {% endif %} 
                          </td>
                          <td class="text-left">
                            {% if (sort == 'cs.weight_from') %} 
                            <a href="{{ sort_weight_from }}" class="{{ order  | lower }}">{{ weight_from }}</a>
                            {% else %} 
                            <a href="{{ sort_weight_from }}">{{ weight_from }}</a>
                            {% endif %} 
                          </td>
                          <td class="text-left">
                            {% if (sort == 'cs.weight_to') %} 
                            <a href="{{ sort_weight_to }}" class="{{ order  | lower }}">{{ weight_to }}</a>
                            {% else %} 
                            <a href="{{ sort_weight_to }}">{{ weight_to }}</a>
                            {% endif %} 
                          </td>
                          <td class="text-left">{{ max_days }}</td>
                        </tr>
                    </thead>
                    <tbody>
                          {% if (result_shipping) %} 
                          {% for result_shippings in result_shipping %} 
                            <tr>
                              <td class="text-center">{% if (result_shippings['selected']) %} 
                                <input type="checkbox" name="selected[]" value="{{ result_shippings['id'] }}" checked="checked" />
                                {% else %} 
                                <input type="checkbox" name="selected[]" value="{{ result_shippings['id'] }}" />
                                {% endif %} 
                              </td>
                              <td class="text-left">{{ result_shippings['country'] }}</td>
                              <td class="text-left" >{{ result_shippings['zip_from'] }}</td>
                              <td class="text-left">{{ result_shippings['zip_to'] }}</td>
                              <td class="text-left">{{ result_shippings['price'] }}</td>
                              <td class="v">{{ result_shippings['weight_from'] }}</td>
                              <td class="text-left">{{ result_shippings['weight_to'] }}</td>
                              <td class="text-left">{{ result_shippings['max_days'] }}</td>
                            </tr>
                          {% endfor %} 
                          {% else %} 
                          <tr>
                            <td class="text-center" colspan="12">{{ no_records_found }}</td>
                          </tr>
                          {% endif %} 
                  </tbody>
                </table>
              </div>
            </form>
            <div class="text-right">{{ matrix_pagination }}</div>
            <div class="text-right">{{ matrix_results }}</div>
        </div>
        <div class="tab-pane" id="tab-event">
          <table class ="table table-bordered table-responsive">
            <thead>
              <tr>
                <th class="text-center">{{ entry_from }}</th>
                <th class="text-center">{{ entry_to }}</th>
                <th class="text-center">{{ entry_prefix }}</th>
                <th class="text-center">{{ entry_type }}</th>
                <th class="text-center">{{ entry_amount }}</</th>
              </tr>
            </thead>
            <tbody>
             {% if (shippings['event_shipping'] is defined and shippings['event_shipping'] is not empty) %} 
              {% for key,value in shippings['event_shipping'] %} 
                 <tr id="shipping_value_row[{{ key }}]">
                   <td class="text-center">{{ value['datefrom'] }}</td>
                   <td class="text-center">{{ value['dateto'] }}</td>
                   <td class="text-center">{{ value['prefix'] }}</td>
                   <td class="text-center">{% if (value['type'] == 'f') %} {{ 'Fixed' }} {% else %} {{ 'Percentage' }} {% endif %}</td>
                   <td class="text-center">{{ value['amount'] }}</td>
                 </tr>
               {% endfor %} 
          {% endif %} 
         </tbody>
       </table>
       <!-- <div class="text-right">{{ event_pagination }}</div>
       <div class="text-right">{{ event_results }}</div> -->
      </div>
      <div class="tab-pane" id="tab-priority">
        <table class ="table table-bordered table-responsive">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">{{ entry_high }}</th>
              <th class="text-center">{{ entry_medium }}</th>
              <th class="text-center">{{ entry_low }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>{{ text_days }}</strong></td>
              <td class="text-center">{% if (shippings['seller_shipping_high_priority_day'] is defined) %} {{ shippings['seller_shipping_high_priority_day'] }} {% endif %}</td>
              <td class="text-center">{% if (shippings['seller_shipping_mid_priority_day'] is defined) %} {{ shippings['seller_shipping_mid_priority_day'] }} {% endif %}</td>
              <td class="text-center">{% if (shippings['seller_shipping_low_priority_day'] is defined) %} {{ shippings['seller_shipping_low_priority_day'] }} {% endif %}</td>
            </tr>
            <tr>
              <td><strong>{{ text_amount }}</strong></td>
              <td class="text-center">{% if (shippings['seller_shipping_high_priority_amount'] is defined) %} {{ shippings['seller_shipping_high_priority_amount'] }} {% endif %}</td>
              <td class="text-center">{% if (shippings['seller_shipping_mid_priority_amount'] is defined) %} {{ shippings['seller_shipping_mid_priority_amount'] }} {% endif %}</td>
              <td class="text-center">{% if (shippings['seller_shipping_low_priority_amount'] is defined) %} {{ shippings['seller_shipping_low_priority_amount'] }} {% endif %}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
        {% else %} 
          <div class="text-danger">
            {{ error_warning_authenticate }} 
          </div>
        {% endif %} 

{{ content_bottom }}</div>
{% endif %} 
{{ column_right }}</div>
</div>
{{ footer }} 

<script type="text/javascript">
jQuery('input[name=up_file]').change(function(){
  csv_val = jQuery(this).val().split('.').pop();
    $('#input-csv-name').val(jQuery(this).val().replace(/C:\\fakepath\\/i, ''));
    if(csv_val!='csv'){
      jQuery('.csv-warning').addClass('text-danger').removeClass('hide');
    }else{
      jQuery('.csv-warning').addClass('hide').removeClass('text-danger');
    }
});

nextHtml = false;
prevHtml = $("<input type='text' class=\"form-control\"/>").attr({ name: 'separator' });
jQuery('.separator').click(function(){
  catchDiv = $(this).parent().next();
  nextHtml = catchDiv.html();
  catchDiv.html(prevHtml);
  prevHtml = nextHtml;
});

$('#form-delete').submit(function(){
    if ($(this).attr('action').indexOf('delete',1) != -1) {
        if (!confirm('{{ text_confirm }}')) {
            return false;
        }
    }
});

function filter() {

  url = 'index.php?route=account/customerpartner/add_shipping_mod';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_country = $('input[name=\'filter_country\']').val();

  if (filter_country) {
    url += '&filter_country=' + encodeURIComponent(filter_country);
  }

  var filter_price = $('input[name=\'filter_price\']').val();

  if (filter_price) {
    url += '&filter_price=' + encodeURIComponent(filter_price);
  }

  var filter_zip_to = $('input[name=\'filter_zip_to\']').val();

  if (filter_zip_to) {
    url += '&filter_zip_to=' + encodeURIComponent(filter_zip_to);
  }

  var filter_zip_from = $('input[name=\'filter_zip_from\']').val();

  if (filter_zip_from) {
    url += '&filter_zip_from=' + encodeURIComponent(filter_zip_from);
  }

  var filter_weight_to = $('input[name=\'filter_weight_to\']').val();

  if (filter_weight_to) {
    url += '&filter_weight_to=' + encodeURIComponent(filter_weight_to);
  }

  var filter_weight_from = $('input[name=\'filter_weight_from\']').val();

  if (filter_weight_from) {
    url += '&filter_weight_from=' + encodeURIComponent(filter_weight_from);
  }

  location = url;
}

function clearfilter() {

  url = 'index.php?route=account/customerpartner/add_shipping_mod';

  location = url;
}
</script>
