{{ header }}{{ separate_column_left }}
{% if separate_view is defined and separate_view %}
  <div class="container-fluid" id="content" style="margin-left: 18%">
{% else %}
  <div class="container">
{% endif %}
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li>
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      </li>
    {% endfor %}
  </ul>
  {% if error_warning %}
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-circle"></i>{{ error_warning}}</div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success">
      <i class="fa fa-check-circle"></i>
      {{ success}}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {% if chkIsPartner %}
      <h1>{{ heading_title }}
        <div class="pull-right">
          <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
          <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-category').submit() : false;"><i class="fa fa-trash-o"></i></button>
        </div>
      </h1>

      <div class="well">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div class='input-group'>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ column_name }}" id="input-name" class="form-control" />
                <span class="input-group-addon"><span class="fa fa-angle-double-down"></span></span>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="form-group">
              <select name="filter_status" class="form-control" id="input-status">
                <option value="*">{{ column_status }}</option>
                {% if filter_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                {% endif %}
                {% if not filter_status is null and not filter_status %}
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% else %}
                <option value="0">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group">
              <a onclick="filter();" class="btn btn-primary pull-right">{{ button_filter }}</a>
            </div>
          </div>
        </div>
      </div>

      <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-category">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                <td class="text-left">{% if sort == 'name' %}
                  <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                  {% else %}
                  <a href="{{ sort_name }}">{{ column_name }}</a>
                  {% endif %}</td>
                <td class="text-left">{{ column_status }}</td>
                <td class="text-right">{% if sort == 'sort_order' %}
                  <a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                  {% else %}
                  <a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
                  {% endif %}</td>
                <td class="text-right">{{ column_action }}</td>
              </tr>
            </thead>
            <tbody>
              {% if categories %}
              {% for category in categories %}
              <tr>
                <td class="text-center">{% if category['category_id'] in selected %}
                  <input type="checkbox" name="selected[]" value="{{ category['category_id'] }}" checked="checked" />
                  {% else %}
                  <input type="checkbox" name="selected[]" value="{{ category['category_id'] }}" />
                  {% endif %}</td>
                <td class="text-left">{{ category['name'] }}</td>
                <td class="text-left">{{ category['status'] ? text_enabled : text_disabled }}</td>
                <td class="text-right">{{ category['sort_order'] }}</td>
                <td class="text-right"><a href="{{ category['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="5">{{ text_no_results }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ warning_become_seller }}<button type="button" class="close" data-dismiss="alert">×</button> </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--

function filter() {
  url = 'index.php?route=account/customerpartner/category';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_status = $('select[name=\'filter_status\']').val();

  if (filter_status != '*') {
    url += '&filter_status=' + encodeURIComponent(filter_status);
  }

  location = url;
}

$('input[name=\'filter_name\']').autocomplete({
  delay: 500,
  source: function(request, response) {
    $.ajax({
      url: 'index.php?route=customerpartner/autocomplete/category&filter_type=customerpartner_&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item.name,
            value: item.category_id
          }
        }));
      }
    });
  },
  select: function(item) {
    $('input[name=\'filter_name\']').val(item.label);
    return false;
  },
  focus: function(item) {
    return false;
  }
});
//--></script>
{{ footer }}
