<nav id="column-left">
  {%  if version >= '3.0.2.0' %}
    <div id="navigation" style="display:inline-flex;width:100%;">
      <div style="margin: 0px 5px;">
        {% if image %}
        <img src="{{ image }}" alt="{{ firstname }} {{ lastname }}" title="{{ firstname }}" class="img-circle" />
        {% else %}
        <i class="fa fa-opencart"></i>
        {% endif %}
      </div>
      <div>
        <h4>{{ firstname }} {{ lastname }}</h4>
        <small>{{ screenname }}</small>
      </div>
    </div>
    <ul id="menu">
      {% set i = 0 %}
      {% for menu in menus %}
      <li id="{{ menu.id }}">{% if menu.href %}<a href="{{ menu.href }}"><i class="fa {{ menu.icon }} fw"></i> {{ menu.name }}</a>{% else %}<a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed"><i class="fa {{ menu.icon }} fw"></i> {{ menu.name }}</a>{% endif %}
        {% if menu.children %}
        <ul id="collapse{{ i }}" class="collapse">
          {% for children_1 in menu.children %}
            <li>{% if children_1.href %}<a href="{{ children_1.href }}">{{ children_1.name }}</a>{% else %}<a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed">{{ children_1.name }}</a>{% endif %}
            </li>
            {% set i = i + 1 %}
          {% endfor %}
        </ul>
        {% endif %}</li>
      {% set i = i + 1 %}
      {% endfor %}
    </ul>
  {% else %}
    <div id="navigation">
      <div style="margin: 5px;">
        {% if image %}
        <img src="{{ image }}" alt="{{ firstname }} {{ lastname }}" title="{{ firstname }}" class="img-circle" />
        {% else %}
        <i class="fa fa-opencart"></i>
        {% endif %}
      </div>
      <div>
        <h4>{{ firstname }} {{ lastname }}</h4>
        <small>{{ screenname }}</small>
      </div>
    </div>
    <ul id="menu">
      {% for menu in menus %}
      <li id="{{ menu.id }}"> {% if menu.href %} <a href="{{ menu.href }}"><i class="fa {{ menu.icon }} fw"></i> <span>{{ menu.name }}</span></a> {% else %} <a class="parent"><i class="fa {{ menu.icon }} fw"></i> <span>{{ menu.name }}</span></a> {% endif %}
        {% if menu.children %}
        <ul>
          {% for children_1 in menu.children %}
          <li> {% if children_1.href %} <a href="{{ children_1.href }}">{{ children_1.name }}</a> {% else %} <a class="parent">{{ children_1.name }}</a> {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %} </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav>
