<div class="modal fade" id="myModal-notification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ text_close}}</span></button>
				<h3 class="modal-title">{{ 'Hi ' }}{%if sellerProfile['firstname'] is defined %}{{ sellerProfile['firstname'] }}{%endif %} {% if sellerProfile['lastname'] is defined %}{{ sellerProfile['lastname'] }}{%endif %}</h3>
			</div>

			<div class="modal-body">
			  {% if seller_notifications is defined and seller_notifications %}
			    <div class="form-group">
			      <ul style="display:inline-flex;margin-left:-8%;">
			        <li class="dropdown-header" style="font-size:15px;"><b>{{ text_order}}</b></li>
			        <li style="display: block; overflow: auto;margin-top:5px;"><a href="{{ view_all}}"><span id="processing_status_total" class="label label-warning" style="margin-right: 5px;">{{ processing_status_total}}</span>{{ text_processing_status}}</a></li>
			        <li style="display: block; overflow: auto;margin-left:40px;margin-right:40px;margin-top:5px;"><a href="{{ view_all}}"><span id="complete_status_total" class="label label-success" style="margin-right: 5px;">{{ complete_status_total}}</span>{{ text_complete_status}}</a></li>
			        <li style="display: block; overflow: auto;margin-top:5px;"><a href="{{ view_all}}"><span id="return_total" class="label label-danger" style="margin-right: 5px;">{{ return_total}}</span>{{ text_return}}</a></li>
			      </ul>
			      {% if seller_notifications is defined and seller_notifications %}
			        <ul id="seller_notifications">
			          {% for seller_notification in seller_notifications %}
			            <li>{{ seller_notification}}</li>
			          {% endfor %}
			          <li style="display: block; overflow: auto;"><a href="{{ view_all}}">{{ text_view_all}}</a></li>
			        </ul>
			      {% endif %}
			    </div>
			    <hr/>
			  {% endif %}
			  {% if seller_product_reviews is defined and seller_product_reviews %}
			    <div class="form-group">
			      <ul style="display:inline-flex;margin-left:-8%;">
			        <li class="dropdown-header" style="font-size:15px;"><b>{{ text_product}}</b></li>
			        <li style="display: block; overflow: auto;margin-top:5px;"><a href="{{ view_all ~ '&tab=product'}}"><span id="product_stock_total" class="label label-warning" style="margin-right: 5px;">{{ product_stock_total}}</span>{{ text_stock}}</a></li>
			        <li style="display: block; overflow: auto;margin-left:40px;margin-right:40px;margin-top:5px;"><a href="{{ view_all ~ '&tab=product'}}"><span id="review_total" class="label label-success" style="margin-right: 5px;">{{ review_total}}</span>{{ text_entry_review}}</a></li>
			        <li style="display: block; overflow: auto;margin-top:5px;"><a href="{{ view_all ~ '&tab=product'}}"><span id="approval_total" class="label label-danger" style="margin-right: 5px;">{{ approval_total}}</span>{{ text_approval}}</a></li>
			      </ul>
			      {% if seller_product_reviews is defined and seller_product_reviews %}
			        <ul id="seller_product_reviews">
			          {% for seller_product_review in seller_product_reviews %}
			            <li>{{ seller_product_review}}</li>
			          {% endfor %}
			          <li style="display: block; overflow: auto;"><a href="{{ view_all ~ '&tab=product'}}">{{ text_view_all}}</a></li>
			        </ul>
			      {% endif %}
			    </div>
			    <hr/>
			  {% endif %}
			  {% if seller_reviews is defined and seller_reviews %}
			    <div class="form-group">
			      <ul style="display:inline-flex;margin-left:-8%;">
			        <li class="dropdown-header" style="font-size:15px;"><b>{{ text_entry_seller}}</b></li>
			        <li style="display: block; overflow: auto;margin-right:40px;margin-top:5px;"><a href="{{ view_all ~ '&tab=seller'}}"><span id="seller_review_total" class="label label-success" style="margin-right: 5px;">{{ seller_review_total}}</span>{{ text_entry_review}}</a></li>
			      </ul>
			      {% if seller_reviews is defined and seller_reviews %}
			        <ul id="seller_reviews">
			          {% for seller_review in seller_reviews %}
			            <li>{{ seller_review}}</li>
			          {% endfor %}
			          <li style="display: block; overflow: auto;"><a href="{{ view_all ~ '&tab=seller'}}">{{ text_view_all}}</a></li>
			        </ul>
			      {% endif %}
			    </div>
			  {% endif %}
			  {% if (seller_notifications is not defined and seller_product_reviews is not defined and seller_reviews is not defined) or ( not seller_notifications and not seller_product_reviews and not seller_reviews ) %}
			    <center><h4>{{ text_no_notification}}</h4></center>
			  {% endif %}
			</div>

			<div class="modal-footer">
				<a href="{{ view_all}}" class="btn btn-primary button" style="color:white;">{{ text_view_all_notificatins}}</a>
				<button type="button" class="btn btn-default button" data-dismiss="modal">{{ text_close}}</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$(document).ready(function () {
function wk_notify(){
	$.ajax({
	  url: 'index.php?route=account/customerpartner/notification/notifications&json_notification=true',
	  type: 'get',
	  methodType: 'json',
	  success: function(data) {

			if(data['notification_total']){
			  if (data['separate_view']) {
			    $("#notification").html('<span class="label label-danger pull-left">' + data['notification_total'] + '</span> <img src="admin/view/image/notify.png" title="{{ text_notifications }}">');
			  } else {
			    $("#notification").html('{{ text_notifications }}'+' <span class="badge">'+data['notification_total']+'<span>');
			  }
			} else {
			  if (data['separate_view']) {
			    $("#notification").html('<img src="admin/view/image/notify.png" title="{{ text_notifications }}">');
			  } else {
			    $("#notification").text('{{ text_notifications }}');
			  }
			}

			$( "span" ).each( function( index, element ){
				var span_id = $( this ).attr('id');
				if(span_id && data[span_id]){
					$("#"+span_id).text(data[span_id]);
				}
			});

			$( "ul" ).each( function( index, element ){
				var ul_id = $( this ).attr('id');
				if(ul_id && data[ul_id]){
					var html = '';
					for (var i = 0; i < data[ul_id].length; i++) {
						html += '<li>' + data[ul_id][i] + '</li>';
					}
					if(ul_id == 'seller_product_reviews'){
						html += '<li style="display: block; overflow: auto;"><a href="{{ view_all}}&tab=product">{{ text_view_all}}</a></li>';
					} else if (ul_id == 'seller_reviews') {
						html += '<li style="display: block; overflow: auto;"><a href="{{ view_all}}&tab=seller">{{ text_view_all}}</a></li>';
					} else{
						html += '<li style="display: block; overflow: auto;"><a href="{{ view_all}}">{{ text_view_all}}</a></li>';
					}
					$("#"+ul_id).html(html);
				}
			});
	  }
	});
}
setInterval(wk_notify, 30000);
wk_notify();
});
</script>
