{{ header }}{{ separate_column_left }}
{% if (separate_view is defined and separate_view) %}
  <div class="container-fluid" id="content">
{% else %}
  <div class="container">
{% endif %}
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
    {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {% if (chkIsPartner) %}
      <h1>{{ text_list }}
        <div class="pull-right">
          <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
          <!-- <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-alert-product').submit() : false;"><i class="fa fa-trash-o"></i></button> -->
        </div>
      </h1>

      {% if (response_flag) %}
       <div class="row">
         <div class="col-md-6">
           <div class="panel panel-default">
             <div class="panel-heading">
               <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> {{ text_req_info }}</h3>
             </div>
             <table class="table">
               <tbody>
                 <tr>
                   <td >{{ text_req_product }}</td>
                   <td><a href="{{ product_url }}" target="_blank">{{ name }}</a></td>
                 </tr>
                 <tr>
                   <td >{{ text_req_promodel }}</td>
                   <td>{{ model }}</td>
                 </tr>
                 <tr>
                   <td >{{ text_req_price }}</td>
                   <td>{{ quote_price }}</td>
                 </tr>
                 <tr>
                   <td >{{ text_req_qprice }}</td>
                   <td>{{ price }}</td>
                 </tr>
                 <tr>
                   <td >{{ text_req_pviews }}</td>
                   <td>{{ viewed }}</td>
                 </tr>
                 <tr>
                   <td >{{ text_req_total }}</td>
                   <td>{{ requests }}</td>
                 </tr>
                 <tr>
                   <td >{{ text_req_powner }}</td>
                   <td>{% if (vendor_id) %} {{ text_seller }} {% else %} {{ text_admin }}{% endif %}</td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
         <div class="col-md-6">
           <div class="panel panel-default">
             <div class="panel-heading">
               <h3 class="panel-title"><i class="fa fa-user"></i> {{ text_customer_detail }}</h3>
             </div>
             <table class="table">
               <tr>
                 <td style="width: 1%;"><button data-toggle="tooltip" title="{{ column_customer }}" class="btn btn-info btn-xs"><i class="fa fa-user fa-fw"></i></button></td>
                 <td>
                   {{ customer_name }}
                 </td>
               </tr>
               <tr>
                 <td><button data-toggle="tooltip" title="{{ column_email }}" class="btn btn-info btn-xs"><i class="fa fa-envelope-o fa-fw"></i></button></td>
                 <td><a href="mailto:{{ customer_email }}">{{ customer_email }}</a></td>
               </tr>
               <tr>
                 <td><button data-toggle="tooltip" title="{{ column_ctype }}" class="btn btn-info btn-xs"><i class="fa fa-user fa-fw"></i></button></td>
                 <td>{% if (customer_id) %} {{ text_register }}{% else %} {{ text_guest }} {% endif %}</td>
               </tr>
             </table>
           </div>
         </div>
       </div>
       {% if accept or reject %}
         <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title"><i class="fa fa-comment-o"></i> {{ text_req_reminder }}</h3>
           </div>
             <div class="panel-body">
               <legend>{{ text_req_reminder }}</legend>
               <div class="form-group">
                 <label class="col-sm-2 control-label" for="response_status_id">{{ text_req_reminder }}</label>
                 <div class="col-sm-10">

                     {{ text_alredy_responded }}

                 </div>
               </div>
             </div>
         </div>
     {% else %}
       <div class="panel panel-default">
         <div class="panel-heading">
           <h3 class="panel-title"><i class="fa fa-comment-o"></i> {{ text_req_response }}</h3>
         </div>
         <div class="panel-body">
           <div id="history"></div>
           <br />
           <fieldset>
             <legend>{{ text_req_aupdate }}</legend>
             <form class="form-horizontal">
               <div class="form-group">
                 <label class="col-sm-2 control-label" for="response_status_id">{{ text_set_response }}</label>
                 <div class="col-sm-10">
                   <select name="response_status_id" id="response_status_id" class="form-control">

                     <option value="0" selected="selected">{{ text_rejected }}</option>
                     <option value="1">{{ text_accepted }}</option>
                   </select>
                 </div>
               </div>
             </form>
             <div class="text-right">
               <button id="button-response" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-envelope-o" {% if (responded) %} {{ "DISABLED" }}{% endif %}></i> {{ 'Update Status' }}</button>
             </div>
           </fieldset>
         </div>
       </div>
     {% endif %}
     {% else %}
       <div class="table-responsive">
         <table class="table table-bordered">
           <thead>
             no data found
           </thead>
         </table>
       </div>
     {% endif %}
      {% else %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ warning_become_seller }}<button type="button" class="close" data-dismiss="alert">×</button> </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript">
var quote_id = '{{ quote_id }}';
$('#button-response').on('click', function() {
  $.ajax({
    url: 'index.php?route=account/customerpartner/pa_request/update',
    type: 'post',
    dataType: 'json',
    data: {response_status_id : encodeURIComponent($('select[name=\'response_status_id\']').val()) , quote_id : quote_id},
    beforeSend: function() {
      $('#button-response').button('loading');
    },
    complete: function() {
      $('#button-response').button('reset');
    },
    success: function(json) {
      $('.alert').remove();

      if (json['error']) {
        $('#history').before('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
      }

      if (json['success']) {
        $('#history').before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        location = 'index.php?route=account/customerpartner/pa_request/view&quote_id={{ quote_id }}';
      }
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
</script>
</div>
{{ footer }}
