
{{ header }}{{ separate_column_left }}
<style>
  table{
    color: black;
  }
</style>
{% if separate_view is defined and separate_view %}
  <div class="container-fluid" id="content" style="margin-left: 18%">
{% else %}
  <div class="container">
{% endif %}
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}

  {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning}}</div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"> </i> {{ success}}</div>
  {% endif %}

  <div id="content" class="{{ class}}">
  {{ content_top}}
  <h1>{{ heading_title}}</h1>
  <fieldset>
    <legend><i class="fa fa-list"></i> {{ text_transactionList}}</legend>
      {% if isMember %}
      <div class="well">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-id">{{ entry_id}}</label>
                <input type="text" name="filter_id" value="{{ filter_id}}" placeholder="{{ text_transactionId}}" id="input-id" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-amount">{{ entry_amount}}</label>
                <input type="text" name="filter_amount" value="{{ filter_amount}}" placeholder="{{ text_transactionAmount}}" id="input-amount" class="form-control" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-details">{{ entry_details}}</label>
                <input type="text" name="filter_details" value="{{ filter_details}}" placeholder="{{ text_transactionDetails}}" id="input-details" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-date">{{ entry_date}}</label>
                <div class="input-group date">
                  <input type="text" name="filter_date" value="{{ filter_date}}" data-date-format="YYYY-MM-DD" placeholder="{{ text_transactionDate}}" id="input-date" class="form-control date" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <a onclick="filter();" class="btn btn-primary pull-right">{{ button_filter}}</a>
            </div>
          </div>
        </div>

        <form method="post" enctype="multipart/form-data" id="form-transaction">
        <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-left">
                {% if sort == 'ct.id' or sort == 'cc.id' %}
                <a href="{{ sort_id}}" class="{{ order|lower }}">{{ entry_id}}</a>
                {% else %}
                <a href="{{ sort_id}}">{{ entry_id}}</a>
                {% endif %}
              </td>
              <td class="text-left">
                {% if sort == 'ct.amount' %}
                <a href="{{ sort_amount}}" class="{{ order|lower }}">{{ entry_amount}}</a>
                {% else %}
                <a href="{{ sort_amount}}">{{ entry_amount}}</a>
                {% endif %}
              </td>

              <td class="text-left">
                {% if sort == 'ct.details' %}
                <a href="{{ sort_details}}" class="{{ order|lower }}">{{ entry_details}}</a>
                {% else %}
                <a href="{{ sort_details}}">{{ entry_details}}</a>
                {% endif %}
              </td>
              <td class="text-left">
                {% if sort == 'ct.date_added' %}
                <a href="{{ sort_date}}" class="{{ order|lower }}">{{ entry_date}}</a>
                {% else %}
                <a href="{{ sort_date}}">{{ entry_date}}</a>
                {% endif %}
              </td>
            </tr>
          </thead>

          <tbody>
            {% if transactions %}
            {% for result in transactions %}
              <tr>
                <td class="text-left" >{{ result['id']}}</td>
                <td class="text-left">{{ result['value']}}</td>
                <td class="text-left">{{ result['details']}}</td>
                <td class="text-left">{{ result['date']}}</td>
              </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td class="text-center" colspan="4">{{ text_no_records}}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        </div>
      </form>
      <div class="text-right">{{ pagination}}</div>
      <div class="text-right">{{ results}}</div>
      {% else %}
        <div class="text-danger">
          {{ error_warning_authenticate}}
        </div>
      {% endif %}
    </fieldset>
  {{ content_bottom}}
  </div>
  {{ column_right}}
  </div>
</div>

<script type="text/javascript">
$('.date').datetimepicker({
  pickTime: false
});

$('#form-transaction input').keydown(function(e) {
  if (e.keyCode == 13) {
    filter();
  }
});

function filter() {

  url = 'index.php?route=account/customerpartner/transaction';

  var filter_id = $('input[name=\'filter_id\']').val();

  if (filter_id) {
    url += '&filter_id=' + encodeURIComponent(filter_id);
  }

  var filter_date = $('input[name=\'filter_date\']').val();

  if (filter_date) {
    url += '&filter_date=' + encodeURIComponent(filter_date);
  }

  var filter_details = $('input[name=\'filter_details\']').val();

  if (filter_details) {
    url += '&filter_details=' + encodeURIComponent(filter_details);
  }

  var filter_amount = $('input[name=\'filter_amount\']').val();

  if (filter_amount) {
    url += '&filter_amount=' + encodeURIComponent(filter_amount);
  }

  location = url;
}
//--></script>
{{ footer}}
